---
layout: default
title: About
---

<div class="section section--lg">
  <div class="section__container">
    <div class="section__header">
      <div class="section__title">
        <h1 class="section__lead">About</h1>
      </div>
      <div class="section__subtitle editor">
        <p>With over eight years of experience, I am passionate about creating and enhancing digital products and platforms that are user-friendly, engaging, and functional. I have a strong background in branding and UI/UX design, as well as front-end development skills that allow me to bring my designs to life with code.</p>
        <p>I like to build complex, coherent design systems and layouts on a broad set of mediums. I am particularly interested in typography and its use in printed and digital media, and I decided early on in my career to learn coding to broaden my set of skills and enhance my design work.</p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section__container">
    <div class="section__header">
      <div class="section__title">
        <h2 class="section__lead">How I approach design</h2>
      </div>
      <div class="section__subtitle editor">
        <p>Graphic design, whether for print or digital medium, are not so different from a drawing composition. It all has to do with the use of breathing space around elements, colours, hierarchy and contrast.</p>
        <p>This is why each design should start with a pen and paper. This playful but effective method enhances creativity by shortening the gap between the brain and the design tool, your hand.</p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section__container">
    <div class="section__header">
      <div class="section__title">
        <h2 class="section__lead">Expertise</h2>
        <p class="caption text--regular text--italic mt-2 w-rem-20">Click on the links to see an example project</p>
      </div>
      <div class="section__subtitle">
        <div class="grid grid--spacing3">
          <div class="grid__item grid__item--6">
            <div class="card card--sm">
              <div class="card__header">
                <h3 class="card__title">Branding</h3>
              </div>
              <div class="card__content list">
                {% include components/list-item.html label='Logo design' url='_projects/bluto-platform.md' %}
                {% include components/list-item.html label='Identity & positioning' url='_projects/museum.md' %}
                {% include components/list-item.html label='Brand guidelines' url='_projects/watapix.md' %}
              </div>
            </div>
          </div>
          <div class="grid__item grid__item--6">
            <div class="card card--sm">
              <div class="card__header">
                <h3 class="card__title">Digital</h3>
              </div>
              <div class="card__content list">
                {% include components/list-item.html label='Product design' url='_projects/bluto-platform.md' %}
                {% include components/list-item.html label='Web design' url='_projects/le-domaine-des-pres-verts.md' %}
                {% include components/list-item.html label='Mobile design' url='_projects/wallet-app.md' %}
                {% include components/list-item.html label='Design system' url='_projects/shroomio.md' %}
                {% include components/list-item.html label='Prototyping' url='_projects/wallet-app.md' %}
              </div>
            </div>
          </div>
          <div class="grid__item grid__item--6">
            <div class="card card--sm">
              <div class="card__header">
                <h3 class="card__title">Print</h3>
              </div>
              <div class="card__content list">
                {% include components/list-item.html label='Leaflets' url='_projects/bluto-platform.md' %}
                {% include components/list-item.html label='Stationery' url='_projects/watapix.md' %}
                {% include components/list-item.html label='Posters' url='_projects/museum.md' %}
                {% include components/list-item.html label='Books' url='_projects/freedom-on-the-internet.md' %}
              </div>
            </div>
          </div>
          <div class="grid__item grid__item--6">
            <div class="card card--sm">
              <div class="card__header">
                <h3 class="card__title">Strategy</h3>
              </div>
              <div class="card__content list">
                {% include components/list-item.html label='Project management' %}
                {% include components/list-item.html label='Art direction' url='_projects/bluto-platform.md' %}
                {% include components/list-item.html label='Workshops' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section__container">
    <div class="section__header">
      <div class="section__title">
        <h2 class="section__lead">Technical skills</h2>
      </div>
      <div class="section__subtitle">
        <div class="grid grid--spacing3">
          <div class="grid__item grid__item--6">
            <div class="card card--sm">
              <div class="card__header">
                <h3 class="card__title">Design</h3>
              </div>
              <div class="card__content list">
                {% include components/list-item.html label='Figma' icon='figma' %}
                {% include components/list-item.html label='Sketch' icon='sketch' %}
                {% include components/list-item.html label='Illustrator' icon='ai' %}
                {% include components/list-item.html label='InDesign' icon='id' %}
                {% include components/list-item.html label='Photoshop' icon='ps' %}
              </div>
            </div>
          </div>
          <div class="grid__item grid__item--6">
            <div class="card card--sm">
              <div class="card__header">
                <h3 class="card__title">Development</h3>
              </div>
              <div class="card__content list">
                {% include components/list-item.html label='React' icon='react' %}
                {% include components/list-item.html label='Jekyll' icon='jekyll' %}
                {% include components/list-item.html label='Vue.js' icon='vuejs' %}
                {% include components/list-item.html label='HTML' icon='html' %}
                {% include components/list-item.html label='CSS/SASS' icon='sass' %}
                {% include components/list-item.html label='Javascript' icon='javascript' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
