---
layout: default
title: About
---

<div class="section section--lg">
  <div class="section__container">
    <div class="section__header">
      <div class="section__title">
        <h1 class="section__lead">About</h1>
      </div>
      <div class="section__subtitle editor">
        <p>I am Senior UI/UX Designer with a strong knowledge of Front-end Developement and 9 years of experience leading digital projects from design to implementation. I am passionate about creating and enhancing digital products that are user-friendly, accessible, engaging, and functional.</p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section__container">
    <div class="section__header">
      <div class="section__title">
        <h2 class="section__lead">How I approach design</h2>
      </div>
      <div class="section__subtitle editor">
        <p>Design, whether for print or digital medium, is not so different from a drawing. It all has to do with the use of breathing space around elements, colours, hierarchy and contrast.</p>
        <p>This is why each design should start with a pen and paper. This playful but effective method enhances creativity by shortening the gap between the brain and the design tool, your hand.</p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section__container">
    <div class="section__header">
      <div class="section__title">
        <h2 class="section__lead">Expertise</h2>
      </div>
      <div class="section__subtitle">
        <div class="grid grid--spacing3">
          <div class="grid__item grid__item--6">
            <div class="card card--sm">
              <div class="card__header">
                <h3 class="card__title">Branding</h3>
              </div>
              <div class="card__content list">
                {% include components/list-item.html label='Logo design' url='_projects/bluto-platform.md' %}
                {% include components/list-item.html label='Identity & positioning' url='_projects/museum.md' %}
                {% include components/list-item.html label='Brand guidelines' url='_projects/watapix.md' %}
              </div>
            </div>
          </div>
          <div class="grid__item grid__item--6">
            <div class="card card--sm">
              <div class="card__header">
                <h3 class="card__title">Digital</h3>
              </div>
              <div class="card__content list">
                {% include components/list-item.html label='Product design' url='_projects/bluto-platform.md' %}
                {% include components/list-item.html label='Web design' url='_projects/le-domaine-des-pres-verts.md' %}
                {% include components/list-item.html label='Mobile design' url='_projects/cbre.md' %}
                {% include components/list-item.html label='Design system' url='_projects/pallote.md' %}
                {% include components/list-item.html label='Prototyping' url='_projects/cbre.md' %}
              </div>
            </div>
          </div>
          <div class="grid__item grid__item--6">
            <div class="card card--sm">
              <div class="card__header">
                <h3 class="card__title">Print</h3>
              </div>
              <div class="card__content list">
                {% include components/list-item.html component='h4' label='Leaflets' url='_projects/bluto-brand.md' %}
                {% include components/list-item.html component='h4' label='Stationery' url='_projects/watapix.md' %}
                {% include components/list-item.html component='h4' label='Posters' url='_projects/museum.md' %}
                {% include components/list-item.html component='h4' label='Books' url='_projects/un-earth.md' %}
              </div>
            </div>
          </div>
          <div class="grid__item grid__item--6">
            <div class="card card--sm">
              <div class="card__header">
                <h3 class="card__title">Strategy</h3>
              </div>
              <div class="card__content list">
                {% include components/list-item.html component='h4' label='Project management' %}
                {% include components/list-item.html component='h4' label='Art direction' url='_projects/bluto-platform.md' %}
                {% include components/list-item.html component='h4' label='Workshops' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section__container">
    <div class="section__header">
      <div class="section__title">
        <h2 class="section__lead">Technical skills</h2>
      </div>
      <div class="section__subtitle">
        <div class="grid grid--spacing3">
          <div class="grid__item grid__item--6">
            <div class="card card--sm">
              <div class="card__header">
                <h3 class="card__title">Design</h3>
              </div>
              <div class="card__content list">
                {% include components/list-item.html component='h4' label='Figma' icon='figma' %}
                {% include components/list-item.html component='h4' label='Sketch' icon='sketch' %}
                {% include components/list-item.html component='h4' label='Illustrator' icon='ai' %}
                {% include components/list-item.html component='h4' label='InDesign' icon='id' %}
                {% include components/list-item.html component='h4' label='Photoshop' icon='ps' %}
              </div>
            </div>
          </div>
          <div class="grid__item grid__item--6">
            <div class="card card--sm">
              <div class="card__header">
                <h3 class="card__title">Development</h3>
              </div>
              <div class="card__content list">
                {% include components/list-item.html component='h4' label='HTML' icon='html' %}
                {% include components/list-item.html component='h4' label='CSS/SASS' icon='sass' %}
                {% include components/list-item.html component='h4' label='Javascript' icon='javascript' %}
                {% include components/list-item.html component='h4' label='Jekyll' icon='jekyll' %}
                {% include components/list-item.html component='h4' label='React' icon='react' %}
                {% include components/list-item.html component='h4' label='Vue.js' icon='vuejs' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
