---
layout: default
title: Contact
---

<div class="section section--lg">
  <div class="section__container">
    <div class="section__header">
      <div class="section__title">
        <h1 class="section__lead">Contact</h1>
      </div>
      <div class="section__subtitle editor">
        <p>I bring eight years of experience working with companies of all sizes, across various countries and media. I've led and designed projects from the first brief and cost estimate to the final result.</p>
        <p>Get in touch to discuss a new project or learn more about my work.</p>
        <p>
          You can
          {% include components/link.html label='Email me' type='email' url='&#109;a&#105;l&#116;&#111;:&#97;&#114;&#110;&#97;&#117;&#100;&#97;&#114;&#114;&#101;&#43;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;' %}
        </p>
        <p>
          Or contact me via
          {% include components/link.html label='LinkedIn' type='external' url='https://www.linkedin.com/in/arnaud-darre/' %}
        </p>
      </div>
    </div>
  </div>
</div>
