---
layout: index
title: Home
---

<div id="landing" class="section">
  <div class="section__container">
    <div class="js-carousel carousel">
      <div class="carousel__wrapper">
        <div class="carousel__nav project__nav">
          <button aria-label="Previous project" class="js-carousel-prev button button--md button--icon button--transparent button--primary">
            {% svg assets/icons/feather/chevron-left.svg %}
          </button>
          <div class="carousel__index">
            <span class="carousel__indexCurrent">
              <span class="carousel__indexInner caption">01</span>
            </span>
            {% assign total = 0 %}
            {% for project in site.projects %}
            {% if project.featured == true %}
            {% assign total = total | plus: 1 %}
            {% endif %}
            {% endfor %}
            <span class="carousel__indexTotal caption">0{{ total }}</span>
          </div>
          <button aria-label="Next project" class="js-carousel-next button button--md button--icon button--transparent button--primary">
            {% svg assets/icons/feather/chevron-right.svg %}
          </button>
        </div>
        {% assign sorted = site.projects | sort: 'order' %}
        {% for project in sorted %}
        {% if project.featured == true %}
        <div class="carousel__item {% if forloop.first %}carousel__item--current{% endif %} carousel__item--{{ project.title | slugify }}">
          <div class="carousel__image">
            {% assign project_title = project.path | remove: "/" | remove: "_projects" | remove: ".md" %}
            <div class="carousel__imageInner" style="background-image: url('{% link assets/projects/{{ project_title }}/{{ project_title }}-cover.webp %}'), url('{% link assets/projects/{{ project_title }}/{{ project_title }}-cover.jpg %}');"></div>
          </div>
          <div class="card card--lg card--carousel">
            <div class="carousel__content card__header">
              <div class="carousel__category card__label tags mb-05">
                {% for item in project.category %}<p class="tag">{{ item }}</p>{% endfor %}
              </div>
              <div class="carousel__title">
                <p class="card__title">{{ project.title }}</p>
              </div>
              {% if project.subtitle %}
              <p class="carousel__subtitle card__subtitle">{{ project.subtitle }}</p>
              {% endif %}
              <div class="carousel__button card__subtitle" {% if forloop.first %}{% else %}inert{% endif %}>
                {% capture aria_label %}{{ project.title | prepend: "View project: " }}{% endcapture %}
                {% include components/link.html label='View project' aria_label=aria_label url=project.path %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
