---
layout: index
title: Home
---

<div id="landing" class="section">
  <div class="section__container">
    <div class="js-carousel carousel">
      <div class="carousel__wrapper">
        <div class="carousel__nav project__nav">
          <button class="js-carousel-prev button button--md button--icon button--transparent button--primary">
            {% svg /assets/icons/chevron-left.svg %}
          </button>
          <div class="carousel__index">
            <span class="carousel__indexCurrent">
              <span class="carousel__indexInner caption">01</span>
            </span>
            {% assign total = 0 %}
            {% for project in site.projects %}
            {% if project.featured != null %}
            {% assign total = total | plus: 1 %}
            {% endif %}
            {% endfor %}
            <span class="carousel__indexTotal caption">0{{ total }}</span>
          </div>
          <button class="js-carousel-next button button--md button--icon button--transparent button--primary">
            {% svg /assets/icons/chevron-right.svg %}
          </button>
        </div>
        {% assign sorted = site.projects | sort: 'order' %}
        {% for project in sorted %}
        {% if project.featured == true %}
        <div class="carousel__item {% if forloop.first %}carousel__item--current{% endif %} carousel__item--{{ project.title | slugify }}">
          <div class="carousel__image">
            <div class="carousel__imageInner"style="background-image: url(/assets/projects/{{ project.title | slugify }}/{{ project.title | slugify }}-cover.jpg)"></div>
          </div>
          <div class="card card--lg card--carousel">
            <div class="carousel__content card__header">
              {% if project.category %}
              <p class="carousel__category card__label">{{ project.category }}</p>
              {% endif %}
              <p class="carousel__title card__title">{{ project.title }}</p>
              {% if project.subtitle %}
              <p class="carousel__subtitle card__subtitle">{{ project.subtitle }}</p>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section__container">
    <div class="section__header">
      <div class="section__title">
        <h2 class="section__lead">About</h2>
      </div>
      <div class="section__subtitle editor">
        <p>With over eight years of experience design, I am passionate about creating and enhancing digital products and platforms that are user-friendly, engaging, and functional. I have a strong background in branding and UI/UX design, as well as front-end development skills that allow me to bring my designs to life with code.</p>
        {% include components/list-item.html label='Read more' url='about.html' %}
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section__container">
    <div class="section__header">
      <div class="section__title">
        <h2 class="section__lead">Projects</h2>
      </div>
      <div class="section__subtitle editor">
        {% include components/list-item.html label='View all projects' url='projects.html' %}
      </div>
    </div>
    <div class="section__content">
      <div class="grid grid--spacing3">
        {% assign sorted = site.projects | sort: 'order' %}
        {% for project in sorted %}
        {% if project.featured == true %}
        <div class="grid__item grid__item--md6">
          {% include components/card-project.html title_component='h3' %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section__container">
    <div class="section__header">
      <div class="section__title">
        <h2 class="section__lead">Contact</h2>
      </div>
      <div class="section__subtitle editor">
        <p>Get in touch to discuss a new project or learn more about my work.</p>
        {% include components/list-item.html label='Contact me' url='contact.html' %}
      </div>
    </div>
  </div>
</div>
