---
layout: default
title: Projects
---

<div class="section section--lg">
  <div class="section__container">
    <div class="section__header">
      <div class="section__title">
        <h1 class="section__lead">Projects</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section__container">
    <div class="section__content">
      <div class="tabs js-filter-buttons" role="tablist" aria-label="Project categories">
        <button
          class="tab tab--active"
          data-filter="*" data-text="All"
          role="tab" aria-selected="aria-selected"
        >
          All
        </button>
        {% for category in site.data.categories %}
        <button
          class="tab"
          data-filter=".{{ category.title | slugify }}" data-text="{{ category.title }}"
          role="tab" aria-selected="false"
        >
          {{ category.title }}
        </button>
        {% endfor %}
      </div>
    </div>
    <div class="section__content">
      <div class="js-grid grid grid--spacing4">
        {% assign sorted = site.projects | sort: 'order' %}
        {% for project in sorted %}
        {% if project.visible == true %}
        <div class="grid__item grid__item--lg4 grid__item--md6 {% for item in project.category %} {{ item | slugify }}{% endfor %}">
          {% include components/card-project.html title_component='h2' %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
