@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// INDEX
// —————————————————————————————————————————————————————————————————
// general
// background shapes
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

#landing {

    .section__content {
        @include display-flex();
        @include flex-direction(column);
        @include justify-content(space-between);
        padding-bottom: $integer-xxxl;
    }

    .lead {
        padding-bottom: $integer-xl;
    }
}

.card {

    &--skills {
        padding-right: $col;
    }
}



// —————————————————————————————————————————————————————————————————
// background shapes
// —————————————————————————————————————————————————————————————————

.background__cirle {
    position: absolute;
    height: 100vh;
    width: 100vh;
    background-color: $primary;
    border-radius: 50%;

    &--landing {
        top: -50vh;
        left: -50vh;
    }
}

.trigger2 {
    position: absolute;
    top: 50vh;
}
