@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// INDEX
// —————————————————————————————————————————————————————————————————



#landing {

    .section__content {
        @include display-flex();
        @include flex-direction(column);
        @include justify-content(space-between);
    }

    .lead {
        padding-bottom: $integer-xl;
    }
}

.card {

    &--skills {
        padding-right: $col;
    }
}

#about {
    padding-bottom: $integer-xxxxl*1.5;
}