@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// INDEX
// —————————————————————————————————————————————————————————————————
// general
// background shapes
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

#landing {

    .section__content {
        @include display-flex();
        @include flex-direction(column);
        @include justify-content(space-between);
    }

    .lead {
        padding-bottom: $integer-xl;
    }
}

.card {

    &--skills {
        padding-right: $col;
    }
}

.project {

    &__nav {
        @include display-flex();
        @include align-items(center);
    }

    &__item {
        position: absolute;
    }

    &__image {
        @include transition(opacity 0.4s ease, transform 0.8s ease);
        will-change: opacity, transform;
        overflow: hidden;
        position: absolute;
        margin-top: -$integer-xl;
        height: 50vh; 
        width: 100%;
        opacity: 0.4;
        
        @include hover-link {
            @include transform(scale(1.02));
            opacity: 1;
        }

        &-inner {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: 50% 50%;
        }
    }

    &__category, &__title, &__subtitle, &__body {
        pointer-events: none;
    }

    &__category {
        margin-bottom: $integer-lg;
    }

    &__subtitle {
        margin-bottom: $integer-md;
    }
}



// —————————————————————————————————————————————————————————————————
// background shapes
// —————————————————————————————————————————————————————————————————

.background {

    &__square {
        @include transform(rotate(45deg));
        position: absolute;

        &--landing {
            top: 66.67vh;
            right: -50vh;
            height: 100vh;
            width: 100vh;
            background-color: $primary;
        }

        &--contact {
            top: 500px;
            right: -200vh;
            height: 200vw;
            width: 200vw;
            background-color: $primary;
        }
    }

    &__circle {
        position: absolute;
        border-radius: 50%;
        
        &--landing {
            top: -50vh;
            left: -50vh;
            height: 100vh;
            width: 100vh;
            background-color: $primary;
        }

        &--about {
            top: 20vh;
            left: 30vw;
            height: 40vw;
            width: 40vw;
            background-color: $white;
        }

        &--about-small {
            top: -200vh;
            left: 160vw;
            height: 20vw;
            width: 20vw;
            background-color: $primary;
        }
    }

    &__trigger {
        position: absolute;
        @include transform(translateY(-$integer-md));
    
        &--landing { top: 50vh;}
        &--about { top: -30vh;}
        &--contact { top: -50vh;}
    }
}