@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// PROJECTS
// —————————————————————————————————————————————————————————————————



#projects {
    @include background(center center, cover);
    
    &:before {
        @include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
        background-color: rgba($white, 0.8);
    }
}

.project {

    &__block {
        padding-top: $integer-xxxxl;
    }

    &__nav {
        @include display-flex();
        @include align-items(center);

        &-item {

            &--prev {
                margin-right: $integer-xl;
            }

            &--next {
                margin-left: $integer-xl;
            }
        }
    }

    &__category {
        margin-bottom: $integer-lg;
    }

    &__subtitle {
        margin-bottom: $integer-md;
    }

    &__meta {

        .label {
            padding-top: $integer-md;
            padding-bottom: $integer-sm;

            &:first-child {
                padding-top: $integer;
            }
        }
    }

    &__mockup {
        @include background(center center, cover);
        height: 75vh;
    }
}