@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// PROJECTS
// —————————————————————————————————————————————————————————————————



#projects {
    @include background(center center, cover);
    
    &:before {
        @include pseudo-element('', 0, 0, 0, 0, 100%, 100%);
        background-color: rgba($white, 0.8);
    }
}

.project {

    &__meta {

        .label {
            padding-top: $integer;
        }
    }

    &__mockup {
        @include background(center center, cover);
        height: 75vh;
    }
}