// —————————————————————————————————————————————————————————————————
// button menu
// —————————————————————————————————————————————————————————————————

// button apparition
@include keyframes(button-menu-opacity) {
	0% 		{ opacity: 0; }
	50% 	{ opacity: 0; }
	100% 	{ opacity: 100%; }
}

// lines > close
@include keyframes(button-menu-open-before) {
	0% 		{ transform: translateY($spacing-xs*1.5); }
	50% 	{ transform: translateY(0); 
			  	transform: rotate(0); }
	100% 	{ transform: rotate(45deg); }
}
@include keyframes(button-menu-open-after) {
	0% 		{ transform: translateY(-$spacing-xs*1.5); }
	50% 	{ transform: translateY(0); 
			  	transform: rotate(0); }
	100% 	{ transform: rotate(-45deg); }
}

// close > lines
@include keyframes(button-menu-close-before) {
	0% 		{ transform: rotate(45deg); }
	50% 	{ transform: rotate(0); 
			  	transform: translateY(0); }
	100% 	{ transform: translateY($spacing-xs*1.5); }
}
@include keyframes(button-menu-close-after) {
	0% 		{ transform: rotate(-45deg); }
	50% 	{ transform: rotate(0); 
			  	transform: translateY(0); }
	100% 	{ transform: translateY(-$spacing-xs*1.5); }
}
