// —————————————————————————————————————————————————————————————————
// general
// misc
// containers
// logo
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body.js-freeze {
	overflow: hidden;
}

.page {
	@include transition($transition-md, background-color, color);
	font-family: $font;
	font-size: 16px;
	line-height: 1.5;
	font-variation-settings: $font-regular;
	background-color: $background-default;
	color: $text;
	// needed for footer margin-top: auto if content smaller than viewport height
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	
	.dark-mode & {
		background-color: $background-default-dark;
		color: $text-contrast;		
	}
}

.browserWarning {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	background-color: $overlay;
	z-index: 13;
	padding: $spacing-section-vertical $spacing-section-horizontal;
	
	.dark-mode & {
		background-color: $overlay-dark;
	}

	.card {
		max-width: $spacing-xxl*5;
		text-align: center;
		box-shadow: $box-shadow;

		&__subtitle {
			font-variation-settings: $font-regular;
		}
	}

	.list {
		align-items: center;
	}
}

// embed responsively

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
	border-radius: $spacing-md;

	iframe, object, embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
	}
}        

// text selection
::-moz-selection {
	background: $primary;
	color: $primary-text;
}

::selection {
	background: $primary;
	color: $primary-text;
}

::-moz-selection {
	background: $primary;
	color: $primary-text;
}

// remove autocomplete from webkit browsers

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px rgba($primary, 0.1) inset;
	@include transition($transition-md, background-color);
}

// prevent images from stretching with flex 

img {
	align-self: center;
	width: 100%;
}

// lists

ul {
	list-style: disc;
}

li {
	margin-left: $spacing-md;

	& + & {
		padding-top: $spacing-xs;
	}
}

// buttons and links

button,
a {
	outline-color: $primary;
	cursor: pointer;
}

// iframe

iframe {
	@include transition($transition-md, border);
	display: block; // remove bottom spacing
	width: 100%;
	border-radius: $border-radius-md;
	border: $border;
	
	.dark-mode & {
		border: $border-dark;
	}
}

// —————————————————————————————————————————————————————————————————
// misc
// —————————————————————————————————————————————————————————————————

// margins & paddings

.m-05 { margin: $spacing-xs !important; }
.mt-05 { margin-top: $spacing-xs !important; }
.mr-05 { margin-right: $spacing-xs !important; }
.mb-05 { margin-bottom: $spacing-xs !important; }
.ml-05 { margin-left: $spacing-xs !important; }

.p-05 { padding: $spacing-xs !important; }
.pt-05 { padding-top: $spacing-xs !important; }
.pr-05 { padding-right: $spacing-xs !important; }
.pb-05 { padding-bottom: $spacing-xs !important; }
.pl-05 { padding-left: $spacing-xs !important; }

@for $i from 0 through 20 {

  .m-#{$i} { margin: $i*$spacing-sm !important; }
  .mt-#{$i} { margin-top: $i*$spacing-sm !important; }
  .mr-#{$i} { margin-right: $i*$spacing-sm !important; }
  .mb-#{$i} { margin-bottom: $i*$spacing-sm !important; }
  .ml-#{$i} { margin-left: $i*$spacing-sm !important; }

  .p-#{$i} { padding: $i*$spacing-sm !important; }
  .pt-#{$i} { padding-top: $i*$spacing-sm !important; }
  .pr-#{$i} { padding-right: $i*$spacing-sm !important; }
  .pb-#{$i} { padding-bottom: $i*$spacing-sm !important; }
  .pl-#{$i} { padding-left: $i*$spacing-sm !important; }
}

// width

$max: 100;
$step: 5;

@for $i from 1 through ($max/$step) {
  $value: $i * $step;

  .w-percent-#{$value} { width: $value + 0% !important; }
  .w-rem-#{$value} { width: $value*$spacing-sm !important; }
}

// responsive

.hide {
	
	&-desktop { @include responsive(down, desktop) { display: none !important; } }
	&-laptop { @include responsive(down, laptop) { display: none !important; } }
	&-tablet { @include responsive(down, tablet) { display: none !important; } }
	&-mobile { @include responsive(down, mobile) { display: none !important; } }
	&-touch { @include responsive-touch { display: none !important; } }
}

.show {

	&-desktop { @include responsive(up, desktop) { display: none !important; } }
	&-laptop { @include responsive(up, laptop) { display: none !important; } }
	&-tablet { @include responsive(up, tablet) { display: none !important; } }
	&-mobile { @include responsive(up, mobile) { display: none !important; } }
}

// z-index

@for $i from 0 through 9 {
	.z-index--#{$i} { z-index: $i; }
}

.carousel__image { z-index: -1; }
.project__nav { z-index: 10; }
.tabs { z-index: 11; }
.widgets { z-index: 12; }
header { z-index: 13; }

// hover classes

.hover-grayscale {
	filter: grayscale(100%);
	@include transition($transition-md, filter);

	@include hover {
		filter: grayscale(0%);
	}
}

// background

.background-cover {
	@include background(50% 50%, cover);
	width: 100%;
	height: 100%;
}
