// —————————————————————————————————————————————————————————————————
// color
// spacing
// font
// anchor points
// misc
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// color
// —————————————————————————————————————————————————————————————————

// main

$white: #ffffff;
$black: #000a1e;

// grey

$grey-90: #1A2335;
$grey-80: #333B4B;
$grey-70: #4D5462;
$grey-60: #666C78;
$grey-50: #7F848E;
$grey-40: #999DA5;
$grey-30: #B2B5BB;
$grey-20: #CCCED2;
$grey-10: #E5E6E8;
$grey-5: #F2F3F4;

// text

$text: $black;
$text-alt: rgba($black, 0.56);

$text-contrast: $white;
$text-contrast-alt: rgba($white, 0.56);

//  background

$background-default: $white;
$background-paper: $grey-5;

// brand

$primary-light: #BEFBFF;
$primary: #00A3AE;
$primary-dark: #006F7A;
$primary-text: $text-contrast;

$secondary-light: #CBD6D7;
$secondary: #617C7E;
$secondary-dark: #455859;
$secondary-text: $text-contrast;

$highlight-light: #F9D7B8;
$highlight: #F2994A;
$highlight-dark: #EF7910;
$highlight-text: $text;

// others

$border: rgba($black, 0.2);

// social

$linkedin: #0077B5;
$github: #4078C0;

// —————————————————————————————————————————————————————————————————
// spacing
// —————————————————————————————————————————————————————————————————

// misc
$col: 100%/12;

$spacing-xs: 0.25rem; // 4px
$spacing-sm: 0.5rem; // 8px
$spacing-md: 1rem; // 16px
$spacing-lg: 2.5rem; // 40px
$spacing-xl: 5rem; // 80px
$spacing-xxl: 7.5rem; // 120px

$spacing-project: $spacing-xxl*5;

// —————————————————————————————————————————————————————————————————
// font
// —————————————————————————————————————————————————————————————————

// typefaces

$font: "Chivo", Verdana, Geneva, sans-serif;
$font-code: "Roboto Mono", Courier, monospace;

// weight

$font-regular: 400;
$font-bold: 700;
$font-black: 900;

// —————————————————————————————————————————————————————————————————
// anchor points
// —————————————————————————————————————————————————————————————————

$desktop-lg-up: 1440px;
$desktop-lg-down: 1439.98px;

$desktop-up: 1280px;
$desktop-down: 1279.98px;

$laptop-up: 1024px;
$laptop-down: 1023.98px;

$tablet-up: 768px;
$tablet-down: 767.98px;

$mobile-up: 568px;
$mobile-down: 567.98px;

$mobile-sm-up: 350px;
$mobile-sm-down: 349.98px;

// —————————————————————————————————————————————————————————————————
// misc
// —————————————————————————————————————————————————————————————————

// box-shadow

$box-shadow-sm: 0 0 10px 0 rgba($text, 0.15);
$box-shadow-md: 0 0 15px 0 rgba($text, 0.20);
$box-shadow-lg: 0 0 20px 0 rgba($text, 0.25);

// transition

$transition: 0.4s ease 0s;

// border

$border-sm: 1px solid;
$border-md: 2px solid;
$border-lg: $spacing-xs solid;

// border-radius

$border-radius-sm: $spacing-xs;
$border-radius-md: $spacing-sm;
$border-radius-lg: $spacing-md;
