.anchor {
  display: flex;
  justify-content: center;
  margin-top: $spacing-sm;
	pointer-events: initial;

  // use if you want to draw a line between the dots
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: $secondary;
    // width: $spacing-xs*0.5;
  }
  
  &__item {

    & + & {
      margin-top: $spacing-xs;
    }
  }
  
  &__dot {
    transition: transform 0.4s ease;
    border-radius: 50%;
    background-color: $secondary;
    width: $spacing-sm;
    height: $spacing-sm;
    display: block;

    @include hover {
      animation: pulse 1s infinite;
    }

    &--active {
      transform: scale(2);
    }
  }
}
