// —————————————————————————————————————————————————————————————————
// elements
// size
// variants
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.card {
  position: relative;
  display: flex;
  flex-direction: column;

  &__label {
    @extend %caption;
  }

  &__subtitle {
    font-variation-settings: $font-bold;
  }

  &__media {
    border-radius: $border-radius-md;
    overflow: hidden;
  }
  
  &__mediaInner {
    padding-bottom: 66.66%;
  }

  &__content {
    position: relative;
  }

  &__actions {
    margin-top: auto; // when grid with multiple cards, aligns the buttons vertically at the bottom of the card
  }
}

// —————————————————————————————————————————————————————————————————
// size
// —————————————————————————————————————————————————————————————————

@mixin size($proportion, $size) {

  .card {

		&__media,
		&__header,
		&__content,
		&__actions {

			&:not(:first-child) {
				margin-top: $size;
			}
		}

		&__image {
			border-radius: $size/3;
		}

		&__label {

			& + .card__title {
        margin-top: $size/3;
			}
		}
	
		&__title,
		&__subtitle {
	
			& + .card__subtitle {
				margin-top: $size/2;
			}
		}

    &__title {

      @if $proportion == xs { @extend %body; @extend %text--bold; }
      @else if $proportion == sm { @extend %subtitle; @extend %text--bold; }
      @else if $proportion == md { @extend %h6; }
      @else if $proportion == lg { @extend %h5; }
      @else if $proportion == xl { @extend %h2; }
    }
	}
}

.card {

  &--xs { @include size(xs, $spacing-sm); }
  &--sm { @include size(sm, $spacing-md); }
	&--md { @include size(md, $spacing-md); }
	&--lg { @include size(lg, $spacing-md); }
	&--xl { @include size(xl, $spacing-md*2); }
}

// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.card--projects {

  .card__mediaInner {
    @include transition($transition-lg, transform);
  }

  @include hover {

    .card__mediaInner {
      transform: scale(1.03);
    }
  }

  // make all card clickable
  .card__actions a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.card--project {

  .card__content {
    max-width: $spacing-xxl*5;
  }

  .card__content,
  .card__subtitle {

    @include responsive (up, laptop) {
      width: $spacing-project;
      padding-right: $spacing-xl + $spacing-md;
    }
  }

  .card__title {
    @include transition($transition-md, background-color);
    display: inline-block;
    background-color: $background-default;
    border-radius: $spacing-sm;
    padding: $spacing-xs $spacing-md;
    margin-top: -$spacing-xs;
    margin-bottom: -$spacing-xs;
    margin-left: -$spacing-md;

    .dark-mode & {
      background-color: $background-default-dark;
    }
  }
}
