.footer {
  position: relative;
  background-color: $white;
  
  &.section {
    min-height: unset;
  }
  
  .section__container {
    padding-top: $spacing;
    padding-bottom: $spacing;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .button {
    margin-top: $integer-lg;
    align-self: flex-start;
  }
}
