// —————————————————————————————————————————————————————————————————
// reset
// general
// focused
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// reset
// —————————————————————————————————————————————————————————————————

textarea:focus,
input:focus {
	outline: none;
}

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.form {
	width: 100%;

	&__label {
		@extend %caption;
		transition: color $transition-md;
		will-change: color;
		text-overflow: ellipsis;
		cursor: pointer;
		display: block;
		overflow: hidden;
		white-space: nowrap;
		position: relative;
		padding-bottom: $spacing-sm;
	}

	&__input {
		@include font-size(1, $font-regular, normal);
		font-family: $font;
		transition: border-color $transition-md;
		text-overflow: ellipsis;
		will-change: border-color;
		width: 100%;
    border: $spacing-xs solid transparent;
    border-radius: $border-radius-md !important;
    padding: $spacing-sm;
		background-color: $background-paper;

		.dark-mode & {
			background-color: $background-paper-dark;
		}
	}

	&__button {
		margin-top: $spacing-md;
	}
}

@include placeholder {
	color: $text-alt;
	opacity: 1;

	.dark-mode & {
		color: $text-contrast;
	}
}

// —————————————————————————————————————————————————————————————————
// focused
// —————————————————————————————————————————————————————————————————

.form__group.focused {

	.form {

		&__label { color: $primary; }
		&__input { border-color: $primary; }
	}
}
