// —————————————————————————————————————————————————————————————————
// general
// focused
// select
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.form {
	width: 100%;

	&__content {
		display: flex;
		flex-wrap: wrap;
	}

	&__control {
		display: flex;
	}

	&__textarea {
		width: 100%;
	}

	&__label {
		@extend %caption;
		transition: color $transition;
		text-overflow: ellipsis;
		will-change: color;
		cursor: pointer;
		display: block;
		overflow: hidden;
		white-space: nowrap;
		position: relative;
		padding-bottom: $integer-sm;
		padding-left: $integer;
	}

	&__input {
		@include font-size(1, $font-regular, normal);
		font-family: $font;
		transition: border-color $transition;
		text-overflow: ellipsis;
		will-change: border-color;
		width: 100%;
		background-color: white;
    border: $integer solid #00ffc4;
    border-radius: $integer*2 !important;
    padding: $integer;
	}

	&__button {
		margin-top: $integer-md;
	}
	
	&__footer {
		text-align: left;
	}
}

@include placeholder {
	color: $medium-grey;
	opacity: 1;
}

// —————————————————————————————————————————————————————————————————
// focused
// —————————————————————————————————————————————————————————————————

.form__group.focused {

	.form {

		&__input {
			border-color: $secondary;
		}
	}
}

// —————————————————————————————————————————————————————————————————
// select
// —————————————————————————————————————————————————————————————————

.select-hide {
	opacity: 0;
	position: absolute;
	height: 0;
	padding: 0;
	bottom: 0;
}

.form__select {
	cursor: pointer;
	position: relative;

	.form__input {
		cursor: pointer;
	}

	&:after {
		@include font-awesome("\f078", 0, $integer, auto, auto, $primary);
		transition: color $transition;
		display: flex;
		align-items: center;
		will-change: color;
		height: 100%;
		font-size: 1.2rem;
		pointer-events: none;
	}

	.form__dropdown {
		@include calc(top, '100% -' $integer-xs);
		display: none;
		position: absolute;
		right: 0;
		left: 0;
		max-height: $integer-xxxxl;
		overflow: scroll;
		z-index: 2;
		background-color: $primary;
		margin-left: 0;
		border: $integer-xs solid $black;

		li {
			@include font-size(1, $font-regular, normal);
			transition: color $transition;
			will-change: color;
			margin: 0;
			padding: $integer $integer !important;
			cursor: pointer;

			&:nth-child(1) {
				display: none;
			}

			&:nth-child(2) {
				border-top: 0;
			}

			& + li {
				border-top: $integer-xs solid $black;
			}

			&:hover {
				color: $primary;
			}
		}
	}
}
