.row {
  @include calc(width, '100% + '$integer*2);
  display: flex;
  flex-wrap: wrap;
  margin-right: -$integer;
  margin-left: -$integer;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

[class*="col--"] {
  float: left;
  position: relative;
  padding: 0 $integer;
  width: 100%;
}

[class*="coloffset--"] {
  transform: translateX($integer);
}

@for $i from 1 through 16 {
  .col--#{$i} {
    width: $i*$col;
  }

  .coloffset--#{$i} {
    margin-left: $i*$col;
  }
}

@include responsive(min-width, $mobile-min) {
  @for $i from 1 through 16 {
    .col--sm#{$i} {
      width: $i*$col;
    }

    .coloffset--sm#{$i} {
      margin-left: $i*$col;
    }
  }
}

@include responsive(min-width, $tablet-min) {
  @for $i from 1 through 16 {
    .col--md#{$i} {
      width: $i*$col;
    }

    .coloffset--md#{$i} {
      margin-left: $i*$col;
    }
  }
}

@include responsive(min-width, $desktop-min) {
  @for $i from 1 through 16 {
    .col--lg#{$i} {
      width: $i*$col;
    }

    .coloffset--lg#{$i} {
      margin-left: $i*$col;
    }
  }
}

@include responsive(min-width, $desktop-lg-min) {
  @for $i from 1 through 16 {
    .col--xl#{$i} {
      width: $i*$col;
    }

    .coloffset--xl#{$i} {
      margin-left: $i*$col;
    }
  }
}
