.header {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &__logo {
    align-self: flex-start;
    transition: transform 0.4s ease;
    width: $spacing-sm;
    height: $spacing-sm;

    @include responsive(down, tablet) {
      width: $spacing-md;
      height: $spacing-md;
    }

    @include responsive(down, mobile) {
      width: $spacing-md;
      height: $spacing-md;
    }

    @include hover {
      transform: rotate(-225deg) translateY(1px) scale(1.08);

      .page--index & {
        transform: rotate(225deg) translateY(1px) scale(1.08);
      }
    }
  }
}
