.header {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &__logo {
    align-self: flex-start;
    transition: transform 0.4s ease;
    width: $spacing;
    height: $spacing;

    @include responsive(down, tablet) {
      width: $integer*4;
      height: $integer*4;
    }

    @include responsive(down, mobile) {
      width: $integer*2*2;
      height: $integer*2*2;
    }

    @include hover {
      transform: rotate(-225deg) translateY($integer*0.125) scale(1.08);

      .page--index & {
        transform: rotate(225deg) translateY($integer*0.125) scale(1.08);
      }
    }
  }
}
