.link {
  animation: get-thin $transition-md;
  will-change: font-variation-settings;
  font-variation-settings: $font-regular;
  color: $primary;
  text-decoration: underline;
  
  @include hover {
    animation: get-bold $transition-md forwards;
  }
}
