.link {
  display: inline-flex;
  align-items: center;
  animation: get-thin $transition-md;
  will-change: font-variation-settings;
  font-variation-settings: $font-regular;
  color: $primary;
  text-decoration: underline;
  white-space: nowrap;

  .overline > & {

    svg {
      height: $spacing-md*0.75;
      width: $spacing-md*0.75;
      margin-left: $spacing-xs*0.5;
    }
  }

  svg {
    @include transition($transition-md, stroke-width);
    height: $spacing-md;
    width: $spacing-md;
    margin-left: $spacing-xs;
    stroke-width: 2;
  }

  @include hover {
    animation: get-bold $transition-md forwards;

    svg {
      stroke-width: 3;
    }
  }
}
