.list {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: $spacing-xs;
    }

    &Icon,
    svg {
      width: $spacing-md;
      height: $spacing-md;
    }
    
    &Icon { margin-right: $spacing-sm; }
    svg { margin-left: $spacing-sm; }
  }
}
