.nav {

  &--mobile {
    pointer-events: none;
    display: none;

    @include responsive-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      pointer-events: initial;
    }

    .button {
      margin-left: 0;
    }
  }
}
