// ——————————————————————————————————————————————————
// navbar
// nav
// ——————————————————————————————————————————————————

// ——————————————————————————————————————————————————
// navbar
// ——————————————————————————————————————————————————

.navbar {
  @include transition($transition-md, background-color);
  top: 0;
  left: 0;
  width: 100vw;
  background-color: $background-default;
  border-bottom: 1px solid $border-color;

  .dark-mode & {
    background-color: $background-default-dark;
    border-color: $border-color-dark;
  }

  @include responsive(up, tablet) {
    height: $navbar-height;
  }

  &.section {
    position: sticky;
  }

  .section__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: .125rem;
    padding-bottom: 0;

    @include responsive(up, tablet) {
      height: 100%;
    }

    @include responsive(down, tablet) {
      flex-direction: column;
      align-items: stretch;
      padding-top: 0;
    }
  }

  &__button {
    top: $spacing-md*1.5;
    position: absolute;
  }

  &__main {
    display: flex;
    align-items: center;

    @include responsive(down, tablet) {
      padding-left: $spacing-lg;
      height: $spacing-xl - $spacing-md;
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    align-items: baseline;

    svg {
      height: 1.75rem;
      width: auto;
      margin-right: $spacing-xs;
    }
  }

  &__nav.nav {

    @include responsive(down, tablet) {
      @include transition($transition-md, max-height);
      align-items: flex-start;
      max-height: 0;
      overflow: hidden;

      .js-opened & {
        max-height: 50vh;
      }
    }
  }
}

// ——————————————————————————————————————————————————
// nav
// ——————————————————————————————————————————————————

.nav {

  @include responsive(up, tablet) {
    height: 100%;
  }

  &__container {
    position: relative;
    display: flex;
    list-style: none;

    @include responsive(up, tablet) {
      height: 100%;
    }

    @include responsive(down, tablet) {
      @include calc(max-height, '100vh - '$spacing-xl*3);
      align-items: flex-start;
      // overflow: scroll;
      width: 100%;
      padding-bottom: $spacing-md;
      flex-direction: column;
      width: 100%;
    }
  }

  &__item {
    // override ul & li styling
    margin-left: 0;

    & + & {
      padding-top: 0;
    }

    @include responsive(down, tablet) {
      width: 100%;
      display: flex;
    }
  }

  &__trigger {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 0.875rem;
    line-height: 1;
    height: 100%;
    color: inherit;
    padding-right: $spacing-md;
    padding-left: $spacing-md;

    @include responsive(down, tablet) {
      @include transition($transition-md, background-color);
      width: 100%;
      margin-bottom: $spacing-xs;
      padding: $spacing-md - $spacing-xs;
      align-items: flex-start;

      @include hover {
        background-color: $background-paper;

        .dark-mode & {
          background-color: $background-paper-dark;
        }
      }
    }

    &--active {
      color: $primary;
      
      .dark-mode & {
        color: $primary-dark;
      }
    
      @include responsive(down, tablet) {
        @include transition($transition-md, background-color);
        background-color: $background-paper;

        .dark-mode & {
          background-color: $background-paper-dark;
        }
      }
    }
  }

  &__underline {
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: $primary;
    transition: all 0.3s ease;
    left: 0;
    width: 0;
    pointer-events: none;
    
    .dark-mode & {
      background-color: $primary-dark;
    }
  }
}
