// —————————————————————————————————————————————————————————————————
// elements
// alignement
// color
// variants
// overrides
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

div.section {

  & + & {

    .section__container {
      border-top: $border;

      .dark-mode & {
        border-top: $border-dark;
      }
    }
  }
}

.section {
  display: flex;
  position: relative;
  padding-right: $spacing-section-horizontal;
  padding-left: $spacing-section-horizontal;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: $spacing-section-vertical;
    padding-bottom: $spacing-section-vertical;
  }

  &__header {
    display: flex;
    align-items: baseline;
    margin: -$spacing-md;

    & + .section__content {
      margin-top: $spacing-section-vertical;
    }

    @include responsive(down, laptop) {
      flex-direction: column;
			align-items: stretch;
    }
  }

  &__title,
  &__subtitle {
    flex: 1;
    padding: $spacing-md;
  }

  &__lead {
    @extend %h5;
  }

  &__content {
    
    & + & {
      margin-top: $spacing-lg;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// alignement
// —————————————————————————————————————————————————————————————————

.section {

  &--left { align-items: flex-start; text-align: left; }
  &--center { align-items: center; text-align: center; }
  &--right { align-items: flex-end; text-align: right; }
}

// —————————————————————————————————————————————————————————————————
// color
// —————————————————————————————————————————————————————————————————

.section {

  &--paper {
    background-color: $background-paper;

    .dark-mode & {
      background-color: $background-paper-dark;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.section--lg .section__lead {
  @extend %h1;
}

.section--fullWidth .section__content,
.section__content--fullWidth {
  margin-right: $spacing-section-horizontal-negative;
  margin-left: $spacing-section-horizontal-negative;
}

.section--fullWidth {

  .section__container {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .section__container,
  + .section .section__container {
    border-top: 0 !important;
  }
}

// —————————————————————————————————————————————————————————————————
// overrides
// —————————————————————————————————————————————————————————————————

// index

#landing.section {
  @include calc(height, '100vh - '$spacing-xxl);
  padding-right: 0;
  padding-left: 0;

  .section {

    &__container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  & + .section .section__container {
    border-top: 0;
  }
}

// projects

.page--projects {

  .section--lg .section__container {
    padding-bottom: 0 !important;
  }
}

// project

#project_landing {
  @include calc(min-height, '100vh - '$spacing-lg);

  @include responsive (down, laptop) {
    
    .section__container {
      padding-top: 0;
    }
  }
}

// footer

.footer.section {
  margin-top: auto;

  .section__header {

    @include responsive (down, mobile) {
      flex-direction: column-reverse;
    }
  }
}
