// —————————————————————————————————————————————————————————————————
// elements
// alignement
// colour
// overrides
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.section {
  display: flex;
  position: relative;
  min-height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: $spacing*2;
    padding-right: $spacing*3;
    padding-bottom: $spacing*2;
    padding-left: $spacing*3;
    width: 100%;
  }

  &__label {
    transform: rotate(-90deg);
    transform-origin: top left;
    position: fixed;
    bottom: $spacing;
    left: $integer*5;

    @include responsive(down, laptop) {
      display: none;
    }
  }

  &__header {
    position: relative;
    
    & + .section__content {
      margin-top: $spacing*2;
    }
  }

  &__title {

    & + .section__subtitle { margin-top: $spacing*0.5; }
    & + .section__lead { margin-top: $spacing; }
  }

  &__subtitle {

    & + & { margin-top: $spacing*0.5; }
    & + .section__lead { margin-top: $spacing; }
  }

  &__lead {
    max-width: $spacing*15;
  }

  &__content {
    
    & + & {
      margin-top: $spacing*1.5;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// alignement
// —————————————————————————————————————————————————————————————————

.section {

  &--left { align-items: flex-start; text-align: left; }
  &--center { align-items: center; text-align: center; }
  &--right { align-items: flex-end; text-align: right; }
}

// —————————————————————————————————————————————————————————————————
// colour
// —————————————————————————————————————————————————————————————————

.section {

  &--primary {
    background-color: $primary;
  }
}

// —————————————————————————————————————————————————————————————————
// overrides
// —————————————————————————————————————————————————————————————————

.page--index {

  .section {

    &__header {

      @include responsive(down, tablet) {
        padding-right: $integer*8;
      }
    }

    &__title {
      
      @include responsive(up, laptop) {
        display: none;
 
        & + .section__subtitle { margin-top: 0; }
        & + .section__lead { margin-top: 0; }
      }
    }
  }
}

#landing {

  .section {

    &__container {
      padding-top: $spacing*3;
      padding-bottom: $spacing;
    }
  }
}

#portfolio {

  .section__subtitle .grid--aiEnd {

    @include responsive(down, laptop) {
      align-items: flex-start !important;
    }
  }
}

.page--projects {

  .section__lead {
    max-width: unset;
  }
}

.page--project {

  section .section {

    &__container { align-items: center; }
    &__content, &__header { width: 100%; }
  }
}
