// —————————————————————————————————————————————————————————————————
// elements
// alignement
// color
// overrides
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

// remove border-bottom on last section before footer
section.section:last-of-type .section__container,
footer.section .section__container {
  border-bottom: 0;
}

.section {
  display: flex;
  position: relative;
  padding-right: $spacing-xl;
  padding-left: $spacing-xl;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xl;
    border-bottom: $border-sm $border;
  }

  &__header {
    display: flex;
    align-items: baseline;
    margin: -$spacing-md;

    & + .section__content {
      margin-top: $spacing-lg;
    }
  }

  &__title,
  &__subtitle {
    flex: 1;
    padding: $spacing-md;
  }

  &__lead {
    @extend %h5;
    margin-bottom: $spacing-md;
  }

  &__content {
    
    & + & {
      margin-top: $spacing-lg;
    }
  }
}

// —————————————————————————————————————————————————————————————————
// alignement
// —————————————————————————————————————————————————————————————————

.section {

  &--left { align-items: flex-start; text-align: left; }
  &--center { align-items: center; text-align: center; }
  &--right { align-items: flex-end; text-align: right; }
}

// —————————————————————————————————————————————————————————————————
// color
// —————————————————————————————————————————————————————————————————

.section {

  &--paper {
    background-color: $background-paper;
  }
}

// —————————————————————————————————————————————————————————————————
// overrides
// —————————————————————————————————————————————————————————————————

#landing {

  .section {

    &__container {
      padding-top: $spacing-lg - $spacing-md;
      padding-bottom: $spacing-sm;
    }
  }
}
