.sidebar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 100vh;
  padding-top: $spacing-sm;
  padding-bottom: $spacing-sm;
  pointer-events: none;

  * {
    pointer-events: initial;
  }

  &--left {
    left: $spacing-lg - $spacing-md;

    .button {

      @include responsive(down, mobile) {
        margin-left: 0;
      }
    }
  }

  &--right {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    right: $spacing-lg - $spacing-md;
  }

  .button {
    align-self: flex-start;
  }
}
