// —————————————————————————————————————————————————————————————————
// variables
// elements
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// variables
// —————————————————————————————————————————————————————————————————

$height: $spacing-md + $spacing-xs;

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.switch {
  position: relative;
  display: flex;
  align-items: center;
  height: $height;

  &__input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    
    &:checked + .switch__switch {

      .switch__toggle {
        @include calc(left, '100% -'($height - $spacing-xs*0.75));
      }
    }
  }

  &__switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: $height*2;
    height: $height;
    border-radius: $height;
    position: relative;
    margin-right: $spacing-xs;
    margin-left: $spacing-xs;
    border: $border;
    
    .dark-mode & {
      border: $border-dark;
    }
  }

  &__toggle {
    @include transition($transition-md, left);
    position: absolute;
    left: $spacing-xs*0.25;
    width: $height - $spacing-xs;
    height: $height - $spacing-xs;
    border-radius: $spacing-md;
    background-color: $primary;
  }

  svg {
    @include transition($transition-md, stroke);
    position: absolute;
    z-index: 1;
    pointer-events: none;
    height: $spacing-sm + $spacing-xs;
    width: $spacing-sm + $spacing-xs;

    &:nth-child(3) {
      left: $spacing-sm;
      stroke: $text-contrast;
      
      .dark-mode & {
        stroke: $primary;
      }
    }
    
    &:nth-child(4) {
      right: $spacing-sm;
      stroke: $primary;

      .dark-mode & {
        stroke: $text-contrast;
      }
    }
  }
}
