// —————————————————————————————————————————————————————————————————
// variables
// elements
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// variables
// —————————————————————————————————————————————————————————————————

$margin-sm: $spacing-xs*0.5;
$margin-md: $spacing-xs;
$margin-lg: $spacing-xs*1.5;

$size: $spacing-md*1.5;
$toggle-size: $size - $margin-md;

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.switch {
  position: relative;
  display: flex;
  align-items: center;

  &__input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    
    &:checked + .switch__switch {

      .switch__toggle {
        @include calc(left, $size*2 - $margin-sm);
        transform: translateX(-100%);
      }
    }
  }

  &__switch {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: $size*2;
    height: $size;
    border-radius: $size;
    position: relative;
    border: $border;
    
    .dark-mode & {
      border: $border-dark;
    }
  }

  &__toggle {
    @include transition($transition-md, left, transform);
    transform: translateX(0);
    position: absolute;
    left: $margin-sm;
    width: $toggle-size;
    height: $toggle-size;
    border-radius: $toggle-size;
    background-color: $primary;
  }

  svg {
    @include transition($transition-md, stroke);
    position: absolute;
    z-index: 1;
    pointer-events: none;
    height: $toggle-size - $margin-lg;
    width: $toggle-size - $margin-lg;

    &:nth-child(3) {
      left: $margin-lg;
      stroke: $text-contrast;
      
      .dark-mode & {
        stroke: $primary;
      }
    }
    
    &:nth-child(4) {
      right: $margin-lg;
      stroke: $primary;

      .dark-mode & {
        stroke: $text-contrast;
      }
    }
  }
}
