// —————————————————————————————————————————————————————————————————
// variables
// elements
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// variables
// —————————————————————————————————————————————————————————————————

$height: $spacing-md + $spacing-xs;

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.switch {
  display: flex;
  align-items: center;
  height: $height;

  &__input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    
    &:checked + .switch__switch {
      
      .switch__toggle {
        @include calc(left, '100% -'($height - $spacing-xs*0.5));
      }
    }
  }

  &__switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: $height*1.75;
    height: $height;
    border-radius: $height;
    position: relative;
    background-color: $primary-light;
    margin-right: $spacing-xs;
    margin-left: $spacing-xs;
  }

  &__toggle {
    transition: left $transition-md;
    position: absolute;
    left: $spacing-xs*0.5;
    width: $height - $spacing-xs;
    height: $height - $spacing-xs;
    border-radius: $spacing-md;
    background-color: $primary;
  }

  svg {
    height: $spacing-sm + $spacing-xs;
    width: $spacing-sm + $spacing-xs;
  }
}
