// —————————————————————————————————————————————————————————————————
// elements
// active
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.section__title:has(.tabs):after {

  @include responsive (down, tablet) {
    display: none;
  }
}

.tabs {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  
  @include responsive (down, mobile) {
    flex-direction: column;
    gap: 0;
  }
}

.tab {
  @include transition($transition-md, color);
  will-change: font-variation-settings;
  position: relative;
  text-align: left;
  
  &:not(.tab--active) {
    @extend %h5;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 1.4rem;

    @include responsive (down, tablet) { text-underline-offset: .55em; }
    @include responsive (down, mobile) { text-underline-offset: .25em; }

    @include hover {
      text-decoration-thickness: .15em;
    }
  }

  &__separator {
    @include transition($transition-md, width);
    height: 1rem;
    width: 100%;
    min-width: 2rem;
    background-color: rgba($primary, 0.2);
    
    .dark-mode & {
      background-color: rgba($primary-dark, 0.2);
    }

    @include responsive (down, mobile) {
      height: 1px;
      background-color: transparent;
      border-top: 1px solid $border-color-subtle;
      
      .dark-mode & {
        border-color: $border-color-subtle-dark;
      }
    }
  }
}

// —————————————————————————————————————————————————————————————————
// active
// —————————————————————————————————————————————————————————————————

.tab--active {
  @extend %h1;
  color: $primary;
  
  .dark-mode & {
    color: $primary-dark;
  }
}
