// —————————————————————————————————————————————————————————————————
// elements
// active
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.tabs {
  display: flex;
  flex-wrap: wrap;

  &:after {
    z-index: -1;
    bottom: 0;
  }
}

.tab {
  cursor: pointer;
  position: relative;
  padding: 0 $spacing-md $spacing-sm $spacing-md;

  @include responsive (down, mobile) {
    padding-top: $spacing-sm;
    width: 50%;
    border-top: $border;
    
    &:nth-child(even) {
      border-left: $border;
    }
  }

  &:after {
    content: "";
    position: absolute;
    height: $spacing-xs;
    width: 100%;
    background-color: transparent;
    transition: background-color $transition;
    will-change: background-color;
    z-index: 0;
    bottom: -1px;
    left: 0;
  }
}

// —————————————————————————————————————————————————————————————————
// active
// —————————————————————————————————————————————————————————————————

.tab--active {
  font-weight: $font-bold;
  color: $primary;

  @include responsive (down, mobile) {
    background-color: $background-paper;
  }

  @include responsive (up, mobile) {

    &:after {
      background-color: $primary;
    }
  }
}