// —————————————————————————————————————————————————————————————————
// elements
// active
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.tabs {
  display: flex;
  flex-wrap: wrap;

  &:after {
    z-index: -1;
    bottom: 0;
  }
}

.tab {
  animation: get-thin $transition-md;
  will-change: font-variation-settings;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  padding: 0 $spacing-md $spacing-sm $spacing-md;

  @include hover {
    animation: get-bold $transition-md forwards;
    font-variation-settings: $font-bold;
  }

  @include responsive (down, mobile) {
    @include transition($transition-md, border-top);
    padding-top: $spacing-sm;
    width: 50%;
    border-top: $border;
    
    .dark-mode & {
      border-top: $border-dark;
    }
    
    &:nth-child(even) {
      @include transition($transition-md, border-left);
      border-left: $border;
      
      .dark-mode & {
        border-left: $border-dark;
      }
    }
  }

  &:before {
    content: attr(data-text);
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-variation-settings: $font-bold;

    @media speech {
      display: none;
    }
  }

  &:after {
    content: "";
    @include transition($transition-md, background-color);
    position: absolute;
    height: $spacing-xs;
    width: 100%;
    background-color: transparent;
    z-index: 0;
    bottom: -1px;
    left: 0;
  }
}

// —————————————————————————————————————————————————————————————————
// active
// —————————————————————————————————————————————————————————————————

.tab--active {
  animation: none;
  font-variation-settings: $font-bold;
  color: $primary;

  @include hover {
    animation: none;
  }

  @include responsive (down, mobile) {
    @include transition($transition-md, background-color);
    background-color: $background-paper;

    .dark-mode & {
      background-color: $background-paper-dark;
    }
  }

  @include responsive (up, mobile) {

    &:after {
      background-color: $primary;
    }
  }
}