html, body {
	font-family: $font;
	font-size: 16px;
	line-height: 1.5;
	font-weight: $font-regular;
	color: $black;

	@include responsive(min-width, $desktop-xl) {
		font-size: 20px;
	}
}

.h1, %h1 {
	@include font-size(5, $font-black, normal);
	line-height: 1;
	text-transform: uppercase;

	@include responsive-mobile() { font-size: 4rem; }
	@include responsive(max-width, $desktop-max) { font-size: 4.5rem; }
	@include responsive(max-width, $tablet-max) { font-size: 4rem; }
	@include responsive(max-width, $mobile-max) { font-size: 3rem; }
	@include responsive-mobile-landscape() { display: none; }
}

.h2, %h2 {
	@include font-size(4, $font-black, normal);	
	line-height: 1;

	@include responsive-mobile() { font-size: 3rem; }
	@include responsive(max-width, $tablet-max) { font-size: 3rem; }
	@include responsive(max-width, $mobile-max) { font-size: 2.5rem; }
}

.h3, %h3 {
	@include font-size(2.5, $font-bold, normal);
	line-height: 1;

	@include responsive-mobile() { font-size: 2rem; }
	@include responsive(max-width, $tablet-max) { font-size: 2rem; }
	@include responsive(max-width, $mobile-max) { font-size: 1.8rem; }
}

.h4, %h4 {
	@include font-size(1.5, $font-black, normal);
	line-height: 1;
	text-transform: uppercase;
}

.h5, %h5 {
	@include font-size(1.5, $font-bold, normal);
	line-height: 1;
}

.quote, %quote {
	@include font-size(1.5, $font-regular, normal);

	&:before {
		@include pseudo-element('”', -$integer-xxxl, auto, auto, -$integer-xl, auto, auto);
		z-index: -1;
		font-size: 20rem;
		color: $medium-grey;
	}
}	

.subtitle, %subtitle { font-size: 1.25rem; }

.caption, %caption { 
	font-size: 0.75rem;
	font-weight: $font-bold;
	color: $secondary;
}

// overrides

.body {

	&--bold { font-weight: $font-bold; }
	&--italic { font-style: italic; }
	&--underline { text-decoration: underline; }
}

// alignement

.body {

	&--left { text-align: left; }
	&--center { text-align: center; }
	&--right { text-align: right; }
}
