</div>

<!-- VENDORS -->
<!-- codrops -->
<script src="{{ site.url }}{{ site.resourceurl }}vendors/codrops/imagesloaded.pkgd.min.js"></script>
<script src="{{ site.url }}{{ site.resourceurl }}vendors/codrops/charming.min.js"></script>
<script src="{{ site.url }}{{ site.resourceurl }}vendors/codrops/anime.min.js"></script>
<script src="{{ site.url }}{{ site.resourceurl }}vendors/codrops/scrollingletters.js"></script>
<script src="{{ site.url }}{{ site.resourceurl }}vendors/codrops/project-carousel.js"></script>

<script>
	// —————————————————————————————————————————————————————————————————
	// BACKGROUND SHAPES
	// —————————————————————————————————————————————————————————————————

	// landing circle
	var scene = new ScrollMagic.Scene({triggerElement: ".background__trigger--landing", duration: 1500})
	.setTween(".background__circle--landing", {scale: 3, xPercent: 80, yPercent: -80})
	.addTo(controller);

	var scene = new ScrollMagic.Scene({triggerElement: ".background__trigger--landing", duration: 2000})
	.setTween(".background__square--landing", {scale: 5, xPercent: 0, yPercent: 160})
	.addTo(controller);

	var scene = new ScrollMagic.Scene({triggerElement: ".background__trigger--about", duration: 2000})
	.setTween(".background__circle--about", {scale: 6, xPercent: 0, yPercent: 80})
	.addTo(controller);

	var scene = new ScrollMagic.Scene({triggerElement: ".background__trigger--about", duration: 2000})
	.setTween(".background__circle--about-small", {rotation: 180, transformOrigin: "-80vw 50vw"})
	// .addIndicators({name: " "}) // add indicators (requires plugin)
	.addTo(controller);

	var scene = new ScrollMagic.Scene({triggerElement: ".background__trigger--contact", duration: 1500})
	.setTween(".background__square--contact", {scale: 2, xPercent: 0, yPercent: 40})
	.addTo(controller);

</script>

</body>
</html>