<!DOCTYPE html>
<html lang="en">
<head>

	<title>
		{% if page.title %} 
			{{ page.title }} | {{ site.title }}
		{% else %} 
			{{ site.title }} | {{ site.description }}
		{% endif %}
	</title>	

	<!-- META -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{ site.description }} ">
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

	<!-- FAVICONS -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.base-url }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.base-url }}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.base-url }}/favicon-16x16.png">
	<link rel="manifest" href="{{ site.base-url }}/site.webmanifest">
	<link rel="mask-icon" href="{{ site.base-url }}/safari-pinned-tab.svg" color="#00ffc4">
	<meta name="msapplication-TileColor" content="#00ffc4">
	<meta name="theme-color" content="#00ffc4">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.base-url }}{{ site.resourceurl }}/stylesheets/style.css" />
	
	<!-- VENDORS CSS -->
	<!-- font awesome -->
	<link href="{{ site.base-url }}{{ site.resourceurl }}/vendors/fontawesome/css/all.min.css" rel="stylesheet">
	
    <!-- VENDORS JS -->
	<!-- jquery -->
	<script src="{{ site.base-url }}{{ site.resourceurl }}/vendors/jquery/jquery-3.3.1.min.js"></script>
	<script src="{{ site.base-url }}{{ site.resourceurl }}/vendors/jquery/jquery.easing.1.3.min.js"></script>
	<!-- isotope (blog filter) -->
	<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
	<!-- codrops -->
	<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
	<!-- scroll magic (http://scrollmagic.io/docs/index.html) -->
	<script src="{{ site.base-url }}{{ site.resourceurl }}/vendors/scrollmagic/plugins/TweenMax.min.js"></script>
	<script src="{{ site.base-url }}{{ site.resourceurl }}/vendors/scrollmagic/ScrollMagic.min.js"></script>
	<script src="{{ site.base-url }}{{ site.resourceurl }}/vendors/scrollmagic/plugins/animation.gsap.min.js"></script>
	<script src="{{ site.base-url }}{{ site.resourceurl }}/vendors/scrollmagic/plugins/debug.addIndicators.min.js"></script>
	<script>var controller = new ScrollMagic.Controller();</script>	<!-- init controller -->

	<!-- JAVASCRIPT -->
	<script src="{{ site.base-url }}{{ site.resourceurl }}/js/anchor.js"></script>
	<script src="{{ site.base-url }}{{ site.resourceurl }}/js/buttons.js"></script>
	<script src="{{ site.base-url }}{{ site.resourceurl }}/js/form.js"></script>
	<script src="{{ site.base-url }}{{ site.resourceurl }}/js/script.js"></script>

</head>

<body>		
<div class="page {% if page.layout == 'index' %}page--index{% endif %} {% if page.layout == 'projects' %}page--projects{% endif %}">

{% include containers/menu.html %}
