<!DOCTYPE html>
<html lang="en">
<head>

	<title>
		{% if page.title %} 
			{{ page.title }} | {{ site.title }}
		{% else %} 
			{{ site.title }} | {{ site.description }}
		{% endif %}
	</title>	

	<!-- META -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{ site.description }} ">
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

	<!-- ICONS -->
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/favicon-16x16.png">
	<link rel="manifest" href="{{ site.url }}/site.webmanifest">
	<link rel="mask-icon" href="{{ site.url }}/safari-pinned-tab.svg" color="#007bff">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff"> -->

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.url }}{{ site.resourceurl }}stylesheets/style.css" />
	
	<!-- VENDORS CSS -->
	<!-- font awesome -->
	<link href="{{ site.url }}{{ site.resourceurl }}vendors/fontawesome/css/all.min.css" rel="stylesheet">
    <!-- owl carousel -->
	<link href="{{ site.url }}{{ site.resourceurl }}vendors/owlcarousel/owl.carousel.min.css" rel="stylesheet">
	<!-- scrolling letters -->
	<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.resourceurl }}vendors/scrollingletters/scrollingletters.css" />
	
    <!-- VENDORS JS -->
	<!-- jquery -->
	<script src="{{ site.url }}{{ site.resourceurl }}vendors/jquery/jquery-3.3.1.min.js"></script>
	<!-- flexslider -->
	<script src="{{ site.url }}{{ site.resourceurl }}vendors/flexslider/jquery.flexslider-min.js"></script>
	<!-- owl carousel -->
	<script src="{{ site.url }}{{ site.resourceurl }}vendors/owlcarousel/owl.carousel.min.js"></script>
	<!-- isotope (blog filter) -->
	<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
	<!-- scrolling letters -->
	<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>

	<!-- JAVASCRIPT -->
	<!-- <script src="{{ site.url }}{{ site.resourceurl }}js/accordions.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}js/anchor.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}js/blog.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}js/buttons.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}js/carousel.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}js/filter.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}js/form.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}js/modals.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}js/script.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}js/slider.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}js/tabs.js"></script>
	<script src="{{ site.url }}{{ site.resourceurl }}js/tooltips.js"></script> -->

</head>

<body>
		
<header class="header">

	<!-- scroll to top button -->
	<a class="button--scroll-top button button--icon button--highlight fas fa-chevron-up"></a>

	<!-- cookie banner -->
	<div class="cookie">
		<p class="cookie__text body--small">We want to give you the best service by using cookies. Carry on browsing if you are happy with this, or <a href="{{ site.url }}/privacy-policy" class="button--underline">find out</a> how we manage your cookies.</p>
		<button class="cookie__button button button--small button--primary-darken button--animate fas fa-check">
			<p class="button__inner">Got it</p>
		</button>
	</div>

</header>