@include responsive(down, mobile) {

	.row {
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}
	
	[class*="col--"] {
		padding-right: 0 !important;
		padding-left: 0 !important;
		width: 100% !important;
	}
	
	[class*="coloffset--"] {
		transform: none;
		margin-left: 0 !important;
		width: 100% !important;
	}

	.section {
		padding-right: $integer*2*2;
		padding-left: $integer*2*2;
	}

	.page--projects {

		.project {
			padding-right: $integer*2*2;
		}
	}
}	
