@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// INDEX
// —————————————————————————————————————————————————————————————————

#landing {

    .section__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .lead {
        padding-bottom: $integer-xl;

        @include responsive(max-width, $mobile-max) {
            margin-top: $integer-md;
            padding-bottom: 0;
        }
    }
}

.card {

    &--skills {
        padding-right: $col;
    }
}