#landing {

  .section__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .h5 {
    padding-bottom: $integer-xl;

    @include responsive(max-width, $mobile-max) {
      margin-top: $integer-md;
      padding-bottom: 0;
    }
  }
}
