.page--project {

  img { border-radius: $spacing-sm; }
}

.project {

  &__nav {
    position: absolute;
    top: $spacing-md*1.5;
    display: flex;
    align-items: center;

    @include responsive (down, laptop) {
      top: $spacing-section-horizontal;
    }
  }

  &__thumbnail {
    height: 40vh;
    width: auto;
    
    @include responsive (up, laptop) {
      position: absolute;
      top: $spacing-lg;
      right: 0;
      bottom: $spacing-xl;
      left: $spacing-project;
      height: auto;
      border-top-left-radius: $border-radius-lg;
      border-bottom-left-radius: $border-radius-lg;
    }

    @include responsive (down, laptop) {
      margin-right: $spacing-section-horizontal-negative;
      margin-left: $spacing-section-horizontal-negative;
      margin-bottom: $spacing-section-vertical;
    }
  }

  &__legend { margin-top: $spacing-md; }

  &__coverInner {
    @include background(center center, cover);
    height: 75vh;

    &--large {
      height: 200vh;
    }
  }

  &__video { max-width: $spacing-xxl*8; }
  &__poster { max-width: $spacing-xxl*4; }

  &__video,
  &__poster {
    margin-right: auto;
    margin-left: auto;
  }

  &__pdf {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      @include transition($transition-md, opacity);
      position: absolute;
      opacity: 0;
      text-align: center;
    }

    img {
      @include transition($transition-md, opacity);
      opacity: 1;
      border: $spacing-sm solid $grey-30;
    }

    @include hover {

      p { opacity: 1; }
      img { opacity: 0.3; }
    }
  }
}
