// —————————————————————————————————————————————————————————————————
// elements
// overrides
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// overrides
// —————————————————————————————————————————————————————————————————

.project {

  &__nav {
    display: flex;
    align-items: center;
    margin: -$spacing-sm;

    > * {
      padding: $spacing-sm;
    }
  }

  &__body {

    @include responsive(up, mobile) {
      padding-right: $spacing-sm;
    }
  }

  &__label { margin-bottom: $spacing-xs*0.5; }
  &__legend { margin-top: $spacing-md; }

  &__fullWidth {
    margin-right: -$spacing-lg - $spacing-md;
    margin-left: -$spacing-lg - $spacing-md;
  }

  &__cover {
    @include background(center center, cover);
    height: 75vh;

    &--large {
      height: 200vh;
    }
  }

  &__poster {
    max-width: $spacing-xxl;
  }

  &__poster { border-radius: $spacing-sm; }
  &__grid img { border-radius: $spacing-sm; }
  &__pdf img { border-radius: $spacing-sm; }
  &__image img { border-radius: $spacing-sm; }

  &__pdf {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      transition: opacity 0.4s ease;
      will-change: opacity;
      position: absolute;
      opacity: 0;
      text-align: center;
    }

    img {
      transition: opacity 0.4s ease;
      will-change: opacity;
      opacity: 1;
      border: $spacing-sm solid $grey-30;
    }

    @include hover {

      p { opacity: 1; }
      img { opacity: 0.3; }
    }
  }
}

#related-projects {

  &.section {
    min-height: auto;
  }
}

// —————————————————————————————————————————————————————————————————
// overrides
// —————————————————————————————————————————————————————————————————

.page--project {

  .project__nav {
    position: absolute;
    top: -$spacing-lg;
    right: 0;
    z-index: 1;
  }
}