{% assign type = include.type %} 
{% assign link = include.link %} 
{% assign size = include.size %}
{% assign style = include.style %}
{% assign theme = include.theme %}
{% assign animation = include.animation %}
{% assign icon = include.icon %}
{% assign title = include.title %}
{% assign target = include.target %}
{% assign text = include.text %}
{% assign icon_inner = include.icon_inner %}

<a 	href="{{ link }}" class="button{% if type == 'icon' %} button--icon{% endif %}{% if size %} button--{{ size }}{% endif %}{% if style %} button--{{ style }}{% endif %}{% if theme %} button--{{ theme }}{% endif %}{% if animation %} button--animate--{{ animation }} fas fab fa-{{ icon }}{% endif %}" title="{{ title }}" {% if target %} target="_{{ target }}" {% endif %}>
	{% if type == 'text' %}
	<p class="button__inner">{{ text }}</p>
	{% elsif type == 'icon' %}
	<i class="button__inner fas fab fa-{{ icon_inner }}"></i>
	{% endif %}
</a>