{% assign title_component = include.title_component %}

{% assign project_title = project.title | slugify | replace: "é", "e" %}

<div class="card card--md card--projects">
  <div class="card__media">
    <div class="card__mediaInner background-cover" style="background-image: url('/assets/projects/{{ project_title }}/{{ project_title }}-cover-sm.webp'), url('/assets/projects/{{ project_title }}/{{ project_title }}-cover-sm.jpg');"></div>
  </div>
  <div class="card__header">
    <p class="card__label text--primary">{{ project.category }}</p>
    {% if title_component == 'h3' %}
    <h3 class="card__title">{{ project.title }}</h3>
    {% else if title_component == 'p' %}
    <p class="card__title">{{ project.title }}</p>
    {% else %}
    <h2 class="card__title">{{ project.title }}</h2>
    {% endif %}
    <p class="card__subtitle">{{ project.subtitle }}</p>
  </div>
  <div class="card__actions">
    {% include components/list-item.html label='View project' url=project.path %}
  </div>
</div>
