{% assign title_component = include.title_component %}

{% assign project_title = project.path | remove: "/" | remove: "_projects" | remove: ".md" %}
{% capture title_component %}{% if title_component %}{{title_component}}{% else %}p{% endif %}{% endcapture %}

<div class="card card--md card--projects">
  <div class="card__media">
    <div class="card__mediaInner background-cover" style="background-image: url('{% link assets/projects/{{ project_title }}/{{ project_title }}-cover-sm.webp %}'), url('{% link assets/projects/{{ project_title }}/{{ project_title }}-cover-sm.jpg %}');"></div>
  </div>
  <div class="card__header">
    <div class="card__label tags mb-1">
      {% for item in project.category %}<p class="tag">{{ item }}</p>{% endfor %}
    </div>
    <{{title_component}} class="card__title">{{ project.title }}</{{title_component}}>
    <p class="card__subtitle">{{ project.subtitle }}</p>
  </div>
  <div class="card__actions">
    {% capture aria_label %}{{ project.title | prepend: "View project: " }}{% endcapture %}
    {% include components/link.html label='View project' aria_label=aria_label url=project.path %}
  </div>
</div>
