{% assign title_component = include.title_component %}

{% assign project_title = project.title | slugify | replace: "é", "e" %}

<div class="card card--md card--projects">
  <div class="card__media">
    <picture class="card__mediaInner">
      <source srcset="/assets/projects/{{ project_title }}/{{ project_title }}-cover.webp" type="image/webp">
      <source srcset="/assets/projects/{{ project_title }}/{{ project_title }}-cover.jpg" type="image/jpeg">
      <img src="/assets/projects/{{ project_title }}/{{ project_title }}-cover.jpg" alt="{{ page.title }} caption">
    </picture>
  </div>
  <div class="card__header">
    <p class="card__label text--primary">{{ project.category }}</p>
    {% if title_component == 'h3' %}
    <h3 class="card__title">{{ project.title }}</h3>
    {% else if title_component == 'p' %}
    <p class="card__title">{{ project.title }}</p>
    {% else %}
    <h2 class="card__title">{{ project.title }}</h2>
    {% endif %}
    <p class="card__subtitle">{{ project.subtitle }}</p>
  </div>
  <div class="card__actions">
    {% include components/list-item.html label='View project' url=project.path %}
  </div>
</div>
