<footer class="section section--paper footer">
  <div class="section__container">
    <div class="section__header">
      <p class="section__title caption text--regular">Copyright © {{ site.time | date: '%Y' }} {{ site.title }}</p>
      <div class="section__subtitle">
        <div class="grid grid--spacing3">
          <nav class="grid__item grid__item--lg4 grid__item--md3 grid__item--sm4" aria-labelledby="label-sitemap">
            <div class="card card--xs">
              <div class="card__header">
                <p id="label-sitemap" class="card__title">Sitemap</p>
              </div>
              <div class="card__content list">
                {% include components/list-item.html label='Home' url='index.html' %}
                {% include components/list-item.html label='Work' url='work.html' %}
                {% include components/list-item.html label='About' url='about.html' %}
                {% include components/list-item.html label='Contact' url='contact.html' %}
              </div>
            </div>
          </nav>
          <nav class="grid__item grid__item--lg4 grid__item--md3 grid__item--sm4" aria-labelledby="label-social">
            <div class="card card--xs">
              <div class="card__header">
                <p id="label-social" class="card__title">Social links</p>
              </div>
              <div class="card__content list">
                {% include components/list-item.html label='LinkedIn' type='external' url='https://www.linkedin.com/in/arnaud-darre/' %}
                {% include components/list-item.html label='GitHub' type='external' url='https://github.com/ArnaudDarre' %}
              </div>
            </div>
          </nav>
          <nav class="grid__item grid__item--lg4 grid__item--md3 grid__item--sm4" aria-labelledby="label-downloads">
            <div class="card card--xs">
              <div class="card__header">
                <p id="label-downloads" class="card__title">Downloads</p>
              </div>
              <div class="card__content list">
                {% include components/list-item.html label='CV' type='external' url='https://drive.google.com/file/d/10TjWw-Ib5Ej2s2OXH-fJ3XrvqpJzuv9I/view' %}
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>
