<footer class="section section--paper footer">
  <div class="section__container">
    <div class="section__header">
      <p class="section__title caption">Copyright © {{ site.time | date: '%Y' }} Arnaud Darré</p>
      <div class="section__subtitle">
        <div class="grid grid--spacing3">
          <div class="grid__item grid__item--lg4 grid__item--md3 grid__item--sm4">
            <div class="card card--xs">
              <div class="card__header">
                <p class="card__title">Sitemap</p>
              </div>
              <div class="card__content list">
                {% include components/list-item.html label='Home' url='index.html' %}
                {% include components/list-item.html label='Projects' url='projects.html' %}
                {% include components/list-item.html label='About' url='about.html' %}
                {% include components/list-item.html label='Contact' url='contact.html' %}
              </div>
            </div>
          </div>
          <div class="grid__item grid__item--lg4 grid__item--md3 grid__item--sm4">
            <div class="card card--xs">
              <div class="card__header">
                <p class="card__title">Social</p>
              </div>
              <div class="card__content list">
                {% include components/list-item.html label='LinkedIn' type='external' url='https://www.linkedin.com/in/arnaud-darre/' %}
                {% include components/list-item.html label='GitHub' type='external' url='https://github.com/ArnaudDarre' %}
              </div>
            </div>
          </div>
          <div class="grid__item grid__item--lg4 grid__item--md3 grid__item--sm4">
            <div class="card card--xs">
              <div class="card__header">
                <p class="card__title">Downloads</p>
              </div>
              <div class="card__content list">
                {% include components/list-item.html label='CV' type='download' url='/public/arnaud-darre-cv.pdf' %}
                {% include components/list-item.html label='Portfolio' type='download' url='/public/arnaud-darre-portfolio.pdf' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
