{% assign label = include.label %}
{% assign aria_label = include.aria_label %}
{% assign type = include.type %}
{% assign url = include.url %}

<a
  href="{% if type == null %}{% link {{ url }} %}{% else %}{{ url }}{% endif %}"
  {% if type == 'external' or type == 'download' %}target="_blank" rel="external"{% endif %}
  {% if aria_label %}aria-label="{{ aria_label }}"{% endif %}
  class="link"
>
  {{ label }}
  {% if type == 'external' %}
  {% svg assets/icons/feather/external-link.svg %}
  {% elsif type == 'download' %}
  {% svg assets/icons/feather/download.svg %}
  {% elsif type == 'email' %}
  {% svg assets/icons/feather/mail.svg %}
  {% else %}
  {% svg assets/icons/feather/arrow-right.svg %}
  {% endif %}
</a>
