{% assign component = include.component %}
{% assign label = include.label %}
{% assign icon = include.icon %}
{% assign type = include.type %}
{% assign url = include.url %}

{% capture component %}{% if component %}{{component}}{% else %}p{% endif %}{% endcapture %}

<{{component}} class="list__item">
  {% if icon != null %}
  {% svg "assets/icons/skills/{{ icon }}.svg" class="list__itemIcon" %}
  {% endif %}
  {% if url == null %}
  {{ label }}
  {% else %}
  {% include components/link.html label=label type=type url=url %}
  {% endif %}
</{{component}}>
