{% assign label = include.label %}
{% assign icon = include.icon %}
{% assign type = include.type %}
{% assign url = include.url %}

<a href="{% if type == null %}{% link {{ url }} %}{% else %}{{ url }}{% endif %}" {% if type != null %}target="_blank" rel="external"{% endif %} class="list__item link">
  {% if icon %}{% svg /assets/icons/{{ icon }}.svg %}{% endif %}
  {{ label }}
  {% if type == 'external' %}
  {% svg /assets/icons/external-link.svg %}
  {% elsif type == 'download' %}
  {% svg /assets/icons/download.svg %}
  {% else %}
  {% svg /assets/icons/arrow-right.svg %}
  {% endif %}
</a>
