{% assign legend = include.legend %}
{% assign file_name = include.file_name %}

<div class="section__content project__poster">
  <picture>
    <source
      srcset="/assets/projects/{{ site.page_title }}/{{ site.page_title }}-poster{% if file_name %}-{{ file_name }}{% endif %}.webp"
      type="image/webp">
    <source
      srcset="/assets/projects/{{ site.page_title }}/{{ site.page_title }}-poster{% if file_name %}-{{ file_name }}{% endif %}.jpg"
      type="image/jpeg">
    <img
      src="/assets/projects/{{ site.page_title }}/{{ site.page_title }}-poster{% if file_name %}-{{ file_name }}{% endif %}.jpg"
      alt="{{ page.title }} {{ file_name }} poster">
  </picture>
  {% if legend != null %}
  <p class="project__legend caption">{{ legend }}</p>
  {% endif %}
</div>
