{% assign legend = include.legend %}
{% assign file_name = include.file_name %}

{% capture project_title %}{{ page.path | remove: "/" | remove: "_projects" | remove: ".md" }}{% endcapture %}
{% capture file_name %}{% if file_name %}-{{ file_name }}{% endif %}{% endcapture %}

<figure class="section__content project__poster">
  <picture>
    <source
      srcset="{% link assets/projects/{{ project_title }}/{{ project_title }}-poster{{ file_name }}.webp %}"
      type="image/webp" />
    <source
      srcset="{% link assets/projects/{{ project_title }}/{{ project_title }}-poster{{ file_name }}.jpg %}"
      type="image/jpeg" />
    <img
      srcset="{% link assets/projects/{{ project_title }}/{{ project_title }}-poster{{ file_name }}.jpg %}"
      alt="{{ page.title }} {{ file_name }} poster" />
  </picture>
  {% if legend %}
  <figcaption class="project__legend caption">{{ legend }}</figcaption>
  {% endif %}
</figure>
