{% assign body-1 = include.body-1 %}
{% assign body-2 = include.body-2 %}
{% assign body-3 = include.body-3 %}
{% assign quote = include.quote %}


<div class="block project__block">
    {% if body-1 %}
        <p class="subtitle">{{ body-1 }}</p>
    {% endif %}
    {% if body-2 %}
        <p class="subtitle">{{ body-2 }}</p>
    {% endif %}
    {% if body-3 %}
        <p class="subtitle">{{ body-3 }}</p>
    {% endif %}
    {% if quote %}
        <p class="quote">{{ quote }}</p>
    {% endif %}
</div>