{% assign suffix = include.suffix %}
{% assign legend = include.legend %}

<div class="block project__block">
    <div class="row">
        <img src="{{ site.base-url }}{{ site.resourceurl }}/projects/{{ page.title | slugify | replace: "é", "e" }}/{{ page.title | slugify | replace: "é", "e" }}-mockup-grid{% if suffix %}-{{ suffix }}{% endif %}-1.jpg" alt="{{ page.title }} {% assign suffix = include.suffix %} thumbnail" class="col--md6 col--8 project__grid">
        <img src="{{ site.base-url }}{{ site.resourceurl }}/projects/{{ page.title | slugify | replace: "é", "e" }}/{{ page.title | slugify | replace: "é", "e" }}-mockup-grid{% if suffix %}-{{ suffix }}{% endif %}-2.jpg" alt="{{ page.title }} {% assign suffix = include.suffix %} thumbnail" class="col--md6 col--8 project__grid">
        <img src="{{ site.base-url }}{{ site.resourceurl }}/projects/{{ page.title | slugify | replace: "é", "e" }}/{{ page.title | slugify | replace: "é", "e" }}-mockup-grid{% if suffix %}-{{ suffix }}{% endif %}-3.jpg" alt="{{ page.title }} {% assign suffix = include.suffix %} thumbnail" class="col--md6 col--8 project__grid">
        <img src="{{ site.base-url }}{{ site.resourceurl }}/projects/{{ page.title | slugify | replace: "é", "e" }}/{{ page.title | slugify | replace: "é", "e" }}-mockup-grid{% if suffix %}-{{ suffix }}{% endif %}-4.jpg" alt="{{ page.title }} {% assign suffix = include.suffix %} thumbnail" class="col--md6 col--8 project__grid">
        <p class="col--12 project__legend caption">{{ legend }}</p>
    </div>
</div>