{% assign size = include.size %}
{% assign file_name = include.file_name %}

{% capture project_title %}{{ page.path | remove: "/" | remove: "_projects" | remove: ".md" }}{% endcapture %}
{% capture file_name %}{% if file_name %}-{{ file_name }}{% endif %}{% endcapture %}

<div class="section__content grid grid--jcCenter">
  <div class="grid__item--lg6 grid__item--md8 grid__item--sm10">
    <a href="{% link assets/projects/{{ project_title }}/{{ project_title }}{{ file_name }}.pdf %}" target="_blank" title = "Open PDF file" class="project__pdf">
      <p class="z-index--2 subtitle text--default">Click on the image to view the {{ file_name | remove: "-" }}</p>
      <picture>
        <source
          srcset="{% link assets/projects/{{ project_title }}/{{ project_title }}{{ file_name }}.webp %}"
          type="image/webp" />
        <source
          srcset="{% link assets/projects/{{ project_title }}/{{ project_title }}{{ file_name }}.jpg %}"
          type="image/jpeg" />
        <img
          src="{% link assets/projects/{{ project_title }}/{{ project_title }}{{ file_name }}.jpg %}"
          alt="{{ page.title }} {{ file_name }} thumbnail" />
      </picture>
    </a>
  </div>
</div>
