{% assign size = include.size %}
{% assign file_name = include.file_name %}

<div class="section__content grid grid--jcCenter">
  <div class="grid__item--lg6 grid__item--md8 grid__item--sm10">
    <a href="/assets/projects/{{ page.title | slugify | replace: "é", "e" }}/{{ page.title | slugify | replace: "é", "e" }}{% if file_name %}-{{ file_name }}{% endif %}.pdf" target="_blank" class="project__pdf">
      <p class="z-index--2 subtitle text--default">Click on the image to view the {{ file_name }}</p>
      <img src="/assets/projects/{{ page.title | slugify | replace: "é", "e" }}/{{ page.title | slugify | replace: "é", "e" }}{% if file_name %}-{{ file_name }}{% endif %}.jpg" alt="{{ page.title }} {% assign file_name = include.file_name %} thumbnail" class="">
    </a>
  </div>
</div>
