{% assign size = include.size %}
{% assign file_name = include.file_name %}
{% assign file_extension = include.file_extension %}
{% assign legend = include.legend %}

{% capture project_title %}{{ page.path | remove: "/" | remove: "_projects" | remove: ".md" }}{% endcapture %}
{% capture file_name %}{% if file_name %}-{{ file_name }}{% endif %}{% endcapture %}
{% capture file_extension %}{% if file_extension %}{{ file_extension }}{% else %}jpg{% endif %}{% endcapture %}

<div class="section__content">
  <figure class="grid grid--spacing2">
    {% for image in site.static_files %}
    {% if image.path contains project_title and image.path contains '-grid-' and image.path contains '.webp' and image.path contains file_name %}
    {% assign image_path = image.path | remove: ".jpg" | remove: ".png" | remove: ".webp" %}
    <picture class="grid__item grid__item--md{% if size != null %}{{ size }}{% else %}6{% endif %}">
      <source 
        srcset="{% link {{ image_path }}.webp %}"
        type="image/webp" />
      <source
        srcset="{% link {{ image_path }}.{{ file_extension }} %}"
        type="image/{% if file_extension %}{{ file_extension }}{% else %}jpeg{% endif %}" />
      <img
        src="{% link {{ image_path }}.{{ file_extension }} %}"
        alt="{{ page.title }} {{ file_name }}" />
    </picture>
    {% endif %}
    {% endfor %}
    {% if legend %}
    <figcaption class="grid__item caption">{{ legend }}</figcaption>
    {% endif %}
  </figure>
</div>
