{% assign size = include.size %}
{% assign file_name = include.file_name %}
{% assign file_extension = include.file_extension %}
{% assign legend = include.legend %}

{% assign project_title = page.title | slugify | replace: "é", "e" %}

<div class="section__content {% if size != 'lg' %} grid grid--jcCenter{% endif %} project__image">
  <div class="{% if size == 'lg' %}project__fullWidth{% else %}grid__item{% if size == 'sm' %} grid__item--lg6 grid__item--md8 grid__item--sm10{% elsif size == 'md' %} grid__item--lg10{% endif %}{% endif %}">
    <picture>
      <source srcset="/assets/projects/{{ project_title }}/{{ project_title }}{% if file_name %}-{{ file_name }}{% endif %}.webp" type="image/webp">
      <source srcset="/assets/projects/{{ project_title }}/{{ project_title }}{% if file_name %}-{{ file_name }}{% endif %}.{% if file_extension %}{{ file_extension }}{% else %}jpg{% endif %}" type="image/jpeg">
      <img src="/assets/projects/{{ project_title }}/{{ project_title }}{% if file_name %}-{{ file_name }}{% endif %}.jpg" alt="{{ page.title }} {{ file_name }}">
    </picture>
    {% if legend != null %}
    <p class="project__legend caption">{{ legend }}</p>
    {% endif %}
  </div>
</div>
