	<div class="sidebar__trigger">
		<a class="btn btn--menu">
			<span class="btn__inner"></span>
		</a>
	</div>
	<div class="sidebar">
		<div class="sidebar__header">
		</div>
		<div class="sidebar__content">
			<ul class="sidebar__nav nav">
				<div class="nav__bloc">
					<div class="nav__item">
						<li class="nav__btn">
							<a class="" href="../">
								<i class="fa fa-home"></i>
							</a>
						</li>
					</div>
				</div>
				<div class="nav__bloc">
					<div class="nav__item nav__header">
						<li class="nav__title">Builder</li>
					</div>
					<div class="nav__links">
						<?php include('menus/menu-builder.php'); ?>
					</div>
				</div>
				<div class="nav__bloc">
					<div class="nav__item nav__header">
						<li class="nav__btn">UI elements</li>
					</div>
					<div class="nav__links">
						<?php include('menus/menu-ui.php'); ?>
					</div>
				</div>
<!-- 				<div class="nav__bloc">
					<div class="nav__item nav__header">
						<li class="nav__btn">Templates</li>
					</div>
					<div class="nav__links">
						<?php // include('menus/menu-templates.php'); ?>
					</div>
				</div>
 -->				<div class="nav__bloc">
					<div class="nav__item nav__header">
						<li class="nav__btn">Tricks</li>
					</div>
					<div class="nav__links">
						<?php include('menus/menu-tricks.php'); ?>
					</div>
				</div>
			</ul>
		</div>
	</div>
</div>
<!-- / SIDEBAR -->
