@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// ANCHOR
// —————————————————————————————————————————————————————————————————

.anchor {
    @include display-flex();
    @include justify-content(center);
    margin-top: $integer-xl;
	pointer-events: initial;

    // use if you want to draw a line between the dots
    &__container {
        @include display-flex();
        @include flex-direction(column);
        @include align-items(center);
        // background-color: $secondary;
        // width: $integer-xs;
    }
    
    &__item {

        & + & {
            margin-top: 40px;
        }
    }
    
    &__dot {
        @include transition(transform 0.4s ease);
        @include border-radius(50%);
        background-color: $secondary;
        width: $integer;
        height: $integer;
        display: block;

        @include hover-link {
            @include animation(pulse 1s infinite);
        }

        .js-dot-active & {
            @include transform(scale(2));

            @include hover-link {
                @include animation(pulse-lg 1s infinite);
            }
        }
    }
}