@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// FORM
// —————————————————————————————————————————————————————————————————
// general
// select
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

.form {
	width: 100%;

	&__header {
	}
	
	&__content {
		@include display-flex();
		@include flex-wrap(wrap);
	}

	&__group {
		position: relative;
		width: 100%;
		margin-bottom: $integer-md;
		text-align: left;

		// &.focused {

		// 	.form {

		// 		&__label {
		// 			color: $secondary;
		// 		}

		// 		&__input {
		// 			border-color: $secondary;
		// 		}
		// 	}
		// }
	}

	&__control {
		@include display-flex();
	}

	&__textarea {
		width: 100%;
	}

	&__label {
		@include transition(color $transition);
		@include text-overflow(ellipsis);
		will-change: color;
		cursor: pointer;
		display: block;
		overflow: hidden;
		white-space: nowrap;
		position: relative;
		padding-bottom: $integer-sm;
	}

	&__input {
		@include transition(border $transition);
		@include text-overflow(ellipsis);
		will-change: border;
		width: 100%;
		background-color: transparent;
		padding-bottom: $integer;
		border-bottom: 2px solid $black;
	}

	&__button {
		margin-top: $integer-md;
	}
	
	&__footer {
		text-align: left;
	}
}

@include placeholder {
	color: $medium-grey;
	opacity: 1;
}



// —————————————————————————————————————————————————————————————————
// select
// —————————————————————————————————————————————————————————————————

.select-hide {
	opacity: 0;
    position: absolute;
    height: 0;
	padding: 0;
	bottom: 0;
}

.form__select {
	cursor: pointer;
	position: relative;

	.form__input {
		cursor: pointer;
	}

	&:after {
		@include font-awesome("\f078", 0, $integer, auto, auto, $primary);
		@include transition(color $transition);
		@include display-flex();
		@include align-items(center);
		will-change: color;
		height: 100%;
		font-size: 1.2rem;
		pointer-events: none;
	}

	.form__dropdown {
		@include calc(top, '100% -' $integer-xs);
		display: none;
		position: absolute;
		right: 0;
		left: 0;
		max-height: $integer-xxxxl;
		overflow: scroll;
		z-index: 2;
		background-color: $primary;
		margin-left: 0;
		border: $integer-xs solid $black;

		li {
			@include transition(color $transition);
			will-change: color;
			margin: 0;
			padding: $integer $integer !important;
			cursor: pointer;

			&:nth-child(1) {
				display: none;
			}

			&:nth-child(2) {
				border-top: 0;
			}

			& + li {
				border-top: $integer-xs solid $black;
			}

			&:hover {
				color: $primary;
			}
		}
	}
}