@charset "UTF-8";

// —————————————————————————————————————————————————————————————————
// STRUCTURE
// —————————————————————————————————————————————————————————————————
// general
// responsive
// z-index
// hover classes
// section
// containers
// elements
// header
// footer
// —————————————————————————————————————————————————————————————————



// —————————————————————————————————————————————————————————————————
// general
// —————————————————————————————————————————————————————————————————

* {
	@include box-sizing(border-box);
	outline: none;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	
	&:before {
		@include pseudo-element('', 0, 0, 0, 0, auto, auto);
		position: fixed;
		border: $integer-lg solid $white;
		box-sizing: border-box;
		pointer-events: none;
		@include responsive(max-width, $tablet-max) {
			border-width: $integer-md;
		}
	}
	
	&.js-freeze {
		overflow: hidden;
	}
}

.page {
	overflow: hidden;
}

.row {
	@include display-flex();
	@include flex-wrap(wrap);
	@include calc(width, '100% + '$integer*2);
	margin-right: -$integer;
	margin-left: -$integer;

	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

[class*="col--"] {
	float: left;
	position: relative;
	padding: 0 $integer;
	width: 100%;
}

[class*="coloffset--"] {
	@include transform(translateX($integer));
}

@for $i from 1 through 16 {
	.col--#{$i} 			{ width: $i*$col; }
	.coloffset--#{$i} 		{ margin-left: $i*$col; }
}

@include responsive(min-width, $mobile-min) {
	@for $i from 1 through 16 {
		.col--sm#{$i} 		{ width: $i*$col; }
		.coloffset--sm#{$i} { margin-left: $i*$col; }
	}
}

@include responsive(min-width, $tablet-min) {
	@for $i from 1 through 16 {
		.col--md#{$i} 		{ width: $i*$col; }
		.coloffset--md#{$i} { margin-left: $i*$col; }
	}
}

@include responsive(min-width, $desktop-min) {
	@for $i from 1 through 16 {
		.col--lg#{$i} 		{ width: $i*$col; }
		.coloffset--lg#{$i} { margin-left: $i*$col; }
	}
}

@include responsive(min-width, $desktop-lg-min) {
	@for $i from 1 through 16 {
		.col--xl#{$i} 		{ width: $i*$col; }
		.coloffset--xl#{$i} { margin-left: $i*$col; }
	}
}

// margins & paddings

.no-margin {
	margin: 0 !important;

	&--top { margin-top: 0 !important; }
	&--right { margin-right: 0 !important; }
	&--bottom { margin-bottom: 0 !important; }
	&--left { margin-left: 0 !important; }
}

.no-padding {
	padding: 0 !important;

	&--top { padding-top: 0 !important; }
	&--right { padding-right: 0 !important; }
	&--bottom { padding-bottom: 0 !important; }
	&--left { padding-left: 0 !important; }
}

// embed responsively

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 

	iframe, object, embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
	}
}        

// text selection
::-moz-selection {
	background: $secondary;
	color: $white;
}
::selection {
	background: $secondary;
	color: $white;
}
::-moz-selection {
	background: $secondary;
	color: $white;
}

// remove autocomplete from webkit browsers

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px $primary inset;
	@include transition(background-color $transition);
}

// prevent images from stretching with flex 

img {
	@include align-self(center);
	width: 100%;
}

// lists

ul {
	list-style: disc;
}

li {
	margin-left: 18px;

	& + & {
		padding-top: $integer/2 !important;
	}
}



// —————————————————————————————————————————————————————————————————
// responsive
// —————————————————————————————————————————————————————————————————

.hide {
	
	&--desktop { @include responsive(max-width, $desktop-max) { display: none !important; } }
	&--tablet { @include responsive(max-width, $tablet-max) { display: none !important; } }
	&--mobile { @include responsive(max-width, $mobile-max) { display: none !important; } }
	&--touch { @include responsive-mobile() { display: none !important; } }
}

.show {

	&--desktop { @include responsive(min-width, $desktop-min) { display: none !important; } }
	&--tablet { @include responsive(min-width, $tablet-min) { display: none !important; } }
	&--mobile { @include responsive(min-width, $mobile-min) { display: none !important; } }
}



// —————————————————————————————————————————————————————————————————
// z-index
// —————————————————————————————————————————————————————————————————

.section__header 		{ z-index: 20; }
.cookie				 	{ z-index: 30; }
body:before				{ z-index: 40; }
.header 				{ z-index: 50; }
.modal 					{ z-index: 60; }

@for $i from 0 through 9 {
	.z-index--#{$i} { z-index: $i; }
}



// —————————————————————————————————————————————————————————————————
// hover classes
// —————————————————————————————————————————————————————————————————

.hover-grayscale {
	@include filter(grayscale(100%));
	@include transition(filter, $transition);
	will-change: filter;
	
	@include hover-link {
		@include filter(grayscale(0%));
	}
}



// —————————————————————————————————————————————————————————————————
// section
// —————————————————————————————————————————————————————————————————

.section {
	@include display-flex();
	position: relative;
	min-height: 100vh;
	
	&__header {
		@include transform(rotate(-90deg));
		@include transform-origin(top left);
		position: fixed;
		bottom: $integer-xl;
		left: $integer-xl;

		&--mobile {
			margin-bottom: $integer-md;
			@include responsive(min-width, $tablet-min) {
				display: none;
			}
		}
	}
	
	&__title {
		@include responsive(max-width, $tablet-max) {
			display: none;
        }
	}
	
	&__content {
		padding-top: $integer-xxxxl;
		padding-bottom: $integer-xxxxl;

		@include responsive(max-width, $tablet-max) {
			padding-top: $integer-md*2;

			.page--projects & {
				padding-top: $integer-xxxxl;
			}
		}
	}

	&__comment {
		margin-bottom: $integer-xl;
	}

	&__subtitle {
		margin-bottom: $integer-xxxl;
		@include responsive(max-width, $tablet-max) {
			margin-bottom: $integer-lg;
		}
	}
}

// alignement

.section {

	&--left {
		@include align-items(flex-start);
		text-align: left;
	}

	&--center {
		@include align-items(center);
		text-align: center;
	}

	&--right {
		@include align-items(flex-end);
		text-align: right;
	}
}

// colour variant

.section {

	&--primary {
		background-color: $primary;
	}
}



// —————————————————————————————————————————————————————————————————
// containers
// —————————————————————————————————————————————————————————————————

.block {
	padding-bottom: $integer-xxxl;
	@include responsive(max-width, $mobile-max) {
		padding-bottom: $integer-xl;
	}
}

.card {
	padding-top: $integer-xl;

	&__title {
		padding-bottom: $integer;
	}

	&__body {
		padding-bottom: $integer-md;
	}

	&__label {
		padding-bottom: $integer;
	}

	&__icon {
		font-size: 12rem;
		color: rgba($secondary, 0.05);
	}
}


.card {

	&__content {
		position: relative;
	}
}

.card {

	&--project {
		padding-bottom: $integer-xxl;
	}
}



// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

// logos 

.logo {
	
	&__item {
	}

	&__background {
		fill: $white;
	}

	&__icon {
		fill: $black;
	}
}

.background-cover {
	@include background(50% 50%, cover);
	width: 100%;
	height: 100%;
}



// —————————————————————————————————————————————————————————————————
// header
// —————————————————————————————————————————————————————————————————

.header {
	pointer-events: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

	&__bar {
	}

	&__logo {
		@include align-self(flex-start);
		@include transition(transform 0.4s ease);
		width: $integer-xxl;
		height: $integer-xxl;

		@include responsive(max-width, $tablet-max) {
			width: $integer-xl;
			height: $integer-xl;
		}

		@include responsive(max-width, $mobile-max) {
			width: $integer-md*2;
			height: $integer-md*2;
		}

		@include hover-link {
			@include transform(rotate(-225deg) translateY($integer-xxs) scale(1.08));

			.page--index & {
				@include transform(rotate(225deg) translateY($integer-xxs) scale(1.08));
			}
		}
	}
}

.sidebar {
	@include display-flex();
	@include justify-content(center);
	position: fixed;
	top: 0;
	height: 100vh;
	padding-top: $integer-lg*2;
	padding-bottom: $integer-lg*2;
	pointer-events: none;

	@include responsive(max-width, $tablet-max) {
		padding-top: $integer-md;
		padding-bottom: $integer-xxxl;
	}

	* {
		pointer-events: initial;
	}
	
	&--left {
		left: $integer-lg*2;

		@include responsive(max-width, $tablet-max) {
			left: $integer-md;
		}

		.button {
			
			@include responsive(max-width, $mobile-max) {
				margin-top: 0 !important;
				margin-left: 0;
			}
		}	
	}
	
	&--right {
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(space-between);
		right: $integer-lg*2;

		@include responsive(max-width, $tablet-max) {
			right: $integer-md;
		}
	}

	.button {
		@include align-self(flex-start);
		margin-top: $integer;
	}
}



// —————————————————————————————————————————————————————————————————
// footer
// —————————————————————————————————————————————————————————————————

.footer {
	position: relative;
	padding-top: $integer-xxxxl;
	padding-bottom: $integer-xxxxl;
	background-color: $secondary;
	color: $white;

	&__item {
		@include display-flex();
		@include flex-direction(column);
		@include justify-content(space-between);
	}

	&__logo {
	}

	&__title {
	}

	.button {
		margin-top: $integer-lg;
		@include align-self(flex-start);
	}
}



// —————————————————————————————————————————————————————————————————
// header
// —————————————————————————————————————————————————————————————————

.nav {

	&--mobile {
		pointer-events: none;
		display: none;
		
		@include responsive-mobile {
			@include display-flex();
			@include flex-direction(column);
			@include align-items(center);
			pointer-events: initial;
		}

		.button {
			margin-left: 0;
		}
	}
}