{% include header.html %}
{% assign id = include.id %} 

<section {% if page.id %}id="{{ page.id }}" {% endif %}class="row section">
    <div class="section__background">
        <span class="background__circle background__circle--landing"></span>
        <span class="background__square background__square--landing"></span>
    </div>
    <div class="coloffset--md3 col--md12 coloffset--2 col--12 section__content">
        <div class="row">
            <div class="block">
                {% if page.page_title %}
                    <h2 class="col--12 section__subtitle title">{{ page.page_title }}</h2>
                {% endif %}
                {% if page.subtitle %}
                    <p class="col--lg9 col--md10 col--12 section__comment subtitle">{{ page.subtitle }}</p>
                {% endif %}
                {% if page.lead %}
                    <p class="col--lg5 col--12 lead">{{ page.lead }}</p>
                {% endif %}
            </div>
            {{ content }}
        </div>
    </div>
</section>

{% include footer.html %}