---
layout: compress
---

{% include containers/header.html %}

{{ content }}

<!-- VENDORS -->
<!-- project carousel -->
<script src="{{ site.base-url }}{{ site.resourceurl }}/vendors/codrops/imagesloaded.pkgd.min.js"></script>
<script src="{{ site.base-url }}{{ site.resourceurl }}/vendors/codrops/charming.min.js"></script>
<script src="{{ site.base-url }}{{ site.resourceurl }}/vendors/codrops/anime.min.js"></script>
<script src="{{ site.base-url }}{{ site.resourceurl }}/vendors/codrops/scrollingletters.js"></script>
<script src="{{ site.base-url }}{{ site.resourceurl }}/vendors/codrops/project-carousel.js"></script>

{% include containers/footer.html %}
