{% include header.html %}

<!-- landing -->
<section id="landing" class="row section js-scrolling-letters__section">
    <div class="section__header">
        <h1 class="section__title headline js-scrolling-letters__text">Arnaud<br>Darré</h1>
    </div>
    <div class="coloffset--3 col--12 section__content">
        <div class="row">
            <h2 class="col--12 section__subtitle title">Graphic and Web Designer</h2>
            <p class="col--9 subtitle">Come and discover my <a href="" class="body--underline">work</a>, explore my <a href="" class="body--underline">aspirations</a> and inspirations and <a href="" class="body--underline">contact</a> me for a chat!</p>
        </div>
        <div class="row">
            <div class="col--5">
                <p class="section__comment lead">Website crafted from design to development and content by yours truly.</p>
                <p class="body--small">I will chat about The Beatles, Typography, space, design systems, Science-fiction, music, Buffy the Vampire Slayer and anything your are passionate about.</p>
            </div>
            <p class="coloffset--3 col--4 section__comment lead">Available for freelance work.</p>
        </div>
    </div>
</section>

<!-- portfolio -->
<section id="portfolio" class="row section js-scrolling-letters__section">
    <div class="section__header">
        <h1 class="section__title headline js-scrolling-letters__text">Portfolio</h1>
    </div>
    <div class="coloffset--3 col--12 section__content">
        <div class="block">
            <div class="row">
                <p class="col--6 section__comment lead">Browse through some crunchy bites or check the entire collection.</p>
                <div class="col--12 nav"></div>
            </div>
        </div>
        <div class="block block--project">
            <div class="row">
                <p class="col--12 label">Identity{{ project.category }}</p>
                <h2 class="col--12 section__subtitle title">Applied Blockchain{{ project.title }}</h2>
                <p class="col--6 body--bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor egestas arcu, sit amet aliquam justo sagittis sed. Aenean pharetra felis massa, ac ullamcorper ipsum efficitur vitae. In hendrerit sem in tellus condimentum, in eleifend tortor hendrerit. {{ project.subtitle }}</p>
            </div>
        </div>
    </div>
</section>

<!-- about -->
<section id="about" class="row section js-scrolling-letters__section">
    <div class="section__header">
        <h1 class="section__title headline js-scrolling-letters__text">About</h1>
    </div>
    <div class="coloffset--3 col--12 section__content">
        <div class="block">
            <div class="row">
                <h2 class="col--12 section__comment lead">How I approach design:</h2>
                <p class="col--12 section__subtitle title">Want to draw something together?</p>
                <p class="col--8 body">Graphic and even web design are not so different from a drawing or a painting composition. It all has to do with the use of breathing space around elements, colours, hierarchy and last but not least contrast.</p>
                <p class="col--8 body">This is why each design should start with a pen and paper. This playful but effective method allows to enhance creativity by shortening the bond between the brain and the design tool: your hand (and not the computer).</p>
            </div>
        </div>
        <div class="block">
            <h2 class="lead">What I like doing:</h2>
            <div class="row">
                {% for skill in site.data.skills %}
                <div class="col--6 card card--skills">
                    <h3 class="card__title subhead">{{ skill.title }}</h3>
                    <p class="card__body body">{{ skill.description }}</p>
                    <p class="card__label label">Project</p>
                    <a href="{{ skill.project | slugify }}" class="body body__underline">{{ skill.project }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- contact -->
<section id="contact" class="row section js-scrolling-letters__section">
    <div class="section__header">
        <h1 class="section__title headline js-scrolling-letters__text">Contact</h1>
    </div>
    <div class="coloffset--3 col--12 section__content">
        <div class="block">
            <p class="section__subtitle title">Howdy stranger!</p>
            <h2 class="section__comment subtitle">Feel free to drop a line here…</h2>
            <div class="form">
                <div class="row">
                    <div class="col--5 form__group">
                        <label for="name" class="form__label">Name</label>
                        <input type="text" name="name" id="name" class="form__input">
                    </div>
                    <div class="col--5 form__group">
                        <label for="surname" class="form__label">Surname</label>
                        <input type="text" name="surname" id="surname" class="form__input">
                    </div>
                    <div class="col--10 form__group">
                        <label for="subject" class="form__label">Subject</label>
                        <select name="subject" id="subject" class="form__input">
                            <option value="">—</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </div>
                    <div class="col--10 form__group">
                        <label for="message" class="form__label">Message</label>
                        <textarea name="message" id="message" class="form__input" rows="4"></textarea>
                    </div>
                </div>
                <button type="submit" class="form__button button button--secondary">
                    <p class="button__inner">Send</p>
                </button>
            </div>
        </div>
        <div class="block">
            <h2 class="section__comment subtitle">…or contact me via social media.</h2>
            <a href="" title="Link to Behance profile" target="_blank" class="button button--icon button--stroke button--large button--highlight button--animate fas fa-plus">
                <i class="button__inner fab fa-behance"></i>
            </a>
            <a href="" title="Link to Github profile" target="_blank" class="button button--icon button--stroke button--large button--highlight button--animate fas fa-plus">
                <i class="button__inner fab fa-github"></i>
            </a>
            <a href="" title="Link to Linkedin profile" target="_blank" class="button button--icon button--stroke button--large button--highlight button--animate fas fa-plus">
                <i class="button__inner fab fa-linkedin"></i>
            </a>
            <a href="" title="Link to Spotify profile" target="_blank" class="button button--icon button--stroke button--large button--highlight button--animate fas fa-plus">
                <i class="button__inner fab fa-spotify"></i>
            </a>
        </div>
    </div>
</section>

{% include footer.html %}