{% include header.html %}



<section id="projects-list" class="row section">
    <div class="section__background">
        <span class="background__circle background__circle--landing"></span>
        <span class="background__square background__square--landing"></span>
    </div>
    <div class="section__content">
        <div class="coloffset--md3 col--md12 coloffset--2 col--12">
            <h2 class="section__subtitle title">Dive into my universe</h2>
            <div class="section__comment button-group section__filter filter-button-group">
                <a class="filter__button button button--animate fas fa-infinity active" data-filter="*">
                    <p class="button__inner">All</p>
                </a>
                {% for category in site.data.categories %}
                    <a class="filter__button button button--animate fas fa-{{ category.icon }}" data-filter=".{{ category.title | slugify }}">
                        <p class="button__inner">{{ category.title }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="coloffset--2 col--12">
            <div class="grid row">
                {% for project in site.projects %}
                    <div class="col--lg4 col--md6 col--12 card card--project {{ project.category | slugify }}">
                        <div class="card__content z-index--2">
                            <h2 class="card__title lead">{{ project.title }}</h2>
                            <h3 class="card__title body--bold">{{ project.subtitle }}</h3>
                            <a href="{{ project.url }}" class="button button--small button--secondary button--animate fas fa-chevron-right">
                                <p class="button__inner">Discover</p>
                            </a>
                        </div>
                        <div class="project__image">
                            <div class="project__image-inner background-cover" style="background-image: url({{ site.base-url }}{{ site.resourceurl }}/projects/{{ project.title | slugify | replace: "é", "e" }}/{{ project.title | slugify | replace: "é", "e" }}-cover.jpg)"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
    
{% include footer.html %}