---
layout: compress
---

{% include containers/header.html %}

<!-- capture custom order for prev and next links -->
{% assign posts = site.projects | sort: 'order' %}
{% assign i = 0 %}
{% for post in posts %}
  {% if post.visible == true %}
    {% assign nextIndex = i | plus: 1 %}
    {% assign prevIndex = i | minus: 1 %}
    {% if post.title == page.title %}
      {% if forloop.first %}
        {% assign prev = posts.last %}
      {% else %}
        {% assign prev = posts[prevIndex] %}
      {% endif %}
      {% if forloop.last %}
        {% assign next = posts.first %}
      {% else %}
        {% assign next = posts[nextIndex] %}
      {% endif %}
    {% endif %}
    {% assign i = i | plus: 1 %}
  {% endif %}
{% endfor %}

<div id="project_landing" class="section">
  <div class="section__container">
    {% assign project_title = page.path | remove: "/" | remove: "_projects" | remove: ".md" %}
    <div class="project__thumbnail background-cover"  style="background-image: url('{% link assets/projects/{{ project_title }}/{{ project_title }}-cover.webp %}'), url('{% link assets/projects/{{ project_title }}/{{ project_title }}-cover.jpg %}');"></div>
    <div class="project__nav buttons">
      <a href="{{ prev.url }}" title = "Previous project" class="button button--md button--icon button--grey">
        {% svg assets/icons/feather/arrow-left.svg %}
      </a>
      <a href="{{ next.url }}" title = "Next project" class="button button--md button--icon button--grey">
        {% svg assets/icons/feather/arrow-right.svg %}
      </a>
    </div>
    <div class="section__content">
      <div class="card card--xl card--project">
        <div class="card__header">
          <div class="tags tags--portrait mb-2">
            {% for item in page.category %}
            <p class="tag">{{ item }}</p>
            {% endfor %}
          </div>
          <h1 class="card__title">{{ page.title }}</h1>
          {% if page.subtitle %}
          <p class="card__subtitle h4">{{ page.subtitle }}</p>
          {% endif %}
        </div>
        {% if page.body %}
        <div class="card__content">
          <p>{{ page.body }}</p>
        </div>
        {% endif %}
        {% if page.website %}
        <div class="card__content">
          {% include components/list-item.html label=page.website.label type='external' url=page.website.url %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if page.video_id %}
<div class="section">
  <div class="section__container">
    <div class="section__content">
      <div class="project__video">
        <div class="embed-container">
          <iframe src="https://player.vimeo.com/video/{{ page.video_id }}?color=00ffc4&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>  
{% endif %}

{{ content }}

<div class="section">
  <div class="section__container">
    <div class="section__header">
      <div class="section__title">
        <p class="section__lead">Related projects</p>
      </div>
    </div>
    <div class="section__content">
      <div class="grid grid--spacing4">
        {% assign maxRelated = 3 %} 
        {% assign minCommonTags =  1 %}
        {% assign maxRelatedCounter = 0 %}

        {% for project in site.projects %}
        {% if project.visible == true %}

        {% assign sameTagCount = 0 %}
        {% assign commonTags = "" %}

        {% for tag in project.tags %}
        {% if project.url != page.url %}
        {% if page.tags contains tag %}
        {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% capture tagmarkup %} 
        <span class="caption">{{ tag }}</span> 
        {% endcapture %}
        {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
        {% endif %}
        {% endfor %}

        {% if sameTagCount >= minCommonTags %}
        <div class="grid__item grid__item--lg4 grid__item--md6">
          {% include components/card-project.html title_component='p' %}
        </div>
        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
          {% break %}
        {% endif %}
        {% endif %}
        
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include containers/footer.html %}
