---
layout: compress
---

{% include containers/header.html %}

<div id="project_landing" class="section">
  <div class="section__container">
    <div class="project__thumbnail background-cover"style="background-image: url(/assets/projects/{{ page.title | slugify | replace: "é", "e" }}/{{ page.title | slugify | replace: "é" , "e" }}-cover.jpg)"></div>
    <div class="section__content">
      <div class="card card--xl card--project">
        <!-- <nav class="card__content project__nav">
          {% if page.previous.url %}
            <a href="{{ page.previous.url }}" class="button button--md button--icon button--transparent button--primary">
              {% svg /assets/icons/arrow-left.svg %}
            </a>
          {% endif %}
          {% if page.next.url %}
          <a href="{{ page.next.url }}" class="button button--md button--icon button--transparent button--primary">
            {% svg /assets/icons/arrow-right.svg %}
          </a>
          {% endif %}
        </nav> -->
        {% if page.tags or page.client %}
        <div class="card__content">
          <div class="grid grid--aiEnd">
            {% if page.tags %}
            <div class="list w-rem-20" style="margin-bottom: 1px;">
              {% for tag in page.tags %}
              <p class="list__item caption">{{ tag }} <span class="ml-1">/</span></p>
              {% endfor %}
            </div>
            {% endif %}
            {% if page.client %}
            <div>
              <p class="text--bold">Client</p>
              <p>{{ page.client }}</p>
            </div>
            {% endif %}
          </div>
        </div>
        {% endif %}
        <div class="card__header">
          <!-- {% if page.category %}
          <p class="card__label">{{ page.category }}</p>
          {% endif %} -->
          <h1 class="card__title h2">{{ page.title }}</h1>
          {% if page.subtitle %}
          <p class="card__subtitle h4">{{ page.subtitle }}</p>
          {% endif %}
        </div>
        {% if page.body %}
        <div class="card__content">
          <p>{{ page.body }}</p>
        </div>
        {% endif %}
        {% if page.website %}
        <div class="card__content">
          {% include components/list-item.html label='Go to website' type='external' url=page.website.url %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if page.video_id %}
<div class="section">
  <div class="section__container">
    <div class="section__content">
      <div class="project__video">
        <div class="embed-container">
          <iframe src="https://player.vimeo.com/video/{{ page.video_id }}?color=00ffc4&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>  
{% endif %}

{{ content }}

<div class="section">
  <div class="section__container">
    <div class="section__header">
      <div class="section__title">
        <p class="section__lead">Related projects</p>
      </div>
    </div>
    <div class="section__content">
      <div class="grid grid--spacing3">
        {% assign maxRelated = 2 %} 
        {% assign minCommonTags =  1 %}
        {% assign maxRelatedCounter = 0 %}
        {% for project in site.projects %}

        {% assign sameTagCount = 0 %}
        {% assign commonTags = '' %}

        {% for tag in project.tags %}
        {% if project.url != page.url %}
        {% if page.tags contains tag %}
        {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% capture tagmarkup %} 
        <span class="caption">{{ tag }}</span> 
        {% endcapture %}
        {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
        {% endif %}
        {% endfor %}
  
        {% if sameTagCount >= minCommonTags %}
        <div class="grid__item grid__item--lg4 grid__item--md6">
          {% include components/card-project.html title_component='p' %}
        </div>
        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
          {% break %}
        {% endif %}
        {% endif %}
  
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include containers/footer.html %}
