{% include header.html %}

<!-- <section id="projects" class="row section" style="background-image: url({{ site.url }}{{ site.resourceurl }}/projects/{{ page.title | slugify }}/{{ page.title | slugify }}-cover.jpg)"> -->
<section id="projects" class="row section">
    <div class="section__content">
        <div class="coloffset--3 col--12 block">
            <div class="row">
                <nav class="col--12 project__nav">
                    {% if page.previous.url %}
                        <a href="{{ page.previous.url }}" class="project__nav-item project__nav-item--prev button button--icon button--large button--stroke button--black button--animate fas fa-chevron-left">
                            <i class="button__inner fas fa-chevron-left"></i>
                        </a>
                    {% endif %}
                    {% if page.next.url %}
                        <a href="{{ page.next.url }}" class="project__nav-item project__nav-item--next button button--icon button--large button--stroke button--black button--animate fas fa-chevron-right">
                            <i class="button__inner fas fa-chevron-right"></i>
                        </a>
                    {% endif %}
                </nav>
            </div>
        </div>
        <div class="coloffset--3 col--12 block project__item">
            <div class="project">
                <div class="row">
                    {% if page.category %}
                        <p class="col--12 project__category label">{{ page.category }}</p>
                    {% endif %}
                    {% if page.title %}
                        <h2 class="col--12 project__title section__subtitle title">{{ page.title }}</h2>
                    {% endif %}
                    <div class="col--12">
                        <div class="row">
                            <div class="col--6">
                                {% if page.subtitle %}
                                    <h3 class="project__subtitle lead">{{ page.subtitle }}</h3>
                                {% endif %}
                                {% if page.body %}
                                    <p class="project__body body--bold">{{ page.body }}</p>
                                {% endif %}
                            </div>
                            <div class="col--4 body--right project__meta">
                                {% if page.client %}
                                    <p class="label">Client</p>
                                    <p class="body">{{ page.client }}</p>
                                {% endif %}
                                {% if page.tags %}
                                    <p class="label">Tags</p>
                                        {% for tag in page.tags %}
                                            <p>{{ tag.tag }}</p>
                                        {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if page.type == 'video' %}
            <div class="coloffset--3 col--10 block">
                <div class="embed-container">
                    <iframe src="https://player.vimeo.com/video/{{ page.video_id }}?color=00ffc4&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
            </div>
        {% endif %}
        {{ content }}
        <!-- <div class="project__related"></div> -->
    </div>
</section>


{% include footer.html %}