---
layout: compress
---

{% include header.html %}

<section class="section">
  <div class="section__background">
    <span class="background__trigger background__trigger--{{ page.category | downcase }}"></span>
    <span class="background__circle background__circle--{{ page.category | downcase }}"></span>
    <span class="background__square background__square--{{ page.category | downcase }}"></span>
  </div>
  <div class="section__container">
    <div class="section__header">
      <nav class="project__nav">
        {% if page.previous.url %}
        <div>
          <a href="{{ page.previous.url }}" class="button button--md button--icon button--secondary">
            {% svg /assets/icons/chevron-left.svg %}
          </a>
        </div>
        {% endif %}
        {% if page.next.url %}
        <div>
          <a href="{{ page.next.url }}" class="button button--md button--icon button--secondary">
            {% svg /assets/icons/chevron-right.svg %}
          </a>
        </div>
        {% endif %}
        <div>
          <a href="{% link projects.html %}" class="button button--sm button--secondary button--animate">
            <p class="button__inner">Go to project list</p>
            {% svg /assets/icons/list.svg %}
          </a>
        </div>
      </nav>
      <div class="card card--lg card--transparent">
        <div class="card__header">
          {% if page.category %}
          <p class="card__label caption">{{ page.category }}</p>
          {% endif %}
          <h1 class="card__title h2">{{ page.title }}</h1>
          {% if page.subtitle %}
          <p class="card__subtitle h5">{{ page.subtitle }}</p>
          {% endif %}
        </div>
        {% if page.body %}
        <div class="card__content">
          <div class="grid grid--spacing6 grid--aiBaseline">
            <div class="grid__item grid__item--lg6">
              <p class="">{{ page.body }}</p>
            </div>
            <div class="grid__item grid__item--lg6 grid grid grid--spacing2">
              {% if page.tags %}
              <div class="grid__item grid__item--lg4">
                <p class="project__label caption">Tags</p>
                {% for tag in page.tags %}
                <p>{{ tag }}</p>
                {% endfor %}
              </div>
              {% endif %}
              {% if page.client %}
              <div class="grid__item grid__item--lg4">
                <p class="project__label caption">Client</p>
                <p>{{ page.client }}</p>
              </div>
              {% endif %}
              {% if page.website_url %}
              <div class="grid__item grid__item--lg4">
                <p class="project__label caption">Website</p>
                <a href="{{ page.website_url }}" target="_blank" class="link">{{ page.website_title }}</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% if page.video_id %}
    <div class="section__content">
      <div class="embed-container">
        <iframe src="https://player.vimeo.com/video/{{ page.video_id }}?color=00ffc4&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
    </div>
    {% endif %}
    {{ content }}
  </div>
</section>  

<section id="related-projects" class="section section--primary">
  <div class="section__container">
    <div class="section__header">
      <h1 class="section__title h3">Related projects</h1>
      <div class="section__subtitle">
        <div class="grid grid--spacing3">
          {% assign maxRelated = 2 %} 
          {% assign minCommonTags =  1 %}
          {% assign maxRelatedCounter = 0 %}
          {% for project in site.projects %}
          {% assign sameTagCount = 0 %}
          {% assign commonTags = '' %}
    
          {% for tag in project.tags %}
          {% if project.url != page.url %}
          {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} 
          <span class="caption">{{ tag }}</span> 
          {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
          {% endif %}
          {% endif %}
          {% endfor %}
    
          {% if sameTagCount >= minCommonTags %}
          <div class="grid__item grid__item--lg4 grid__item--md6">
            <div class="card card--sm card--transparent">
              <div class="card__media">
                <div class="card__mediaInner background-cover" style="background-image: url({{ site.base-url }}{{ site.resourceurl }}/projects/{{ project.title | slugify | replace: "é", "e" }}/{{ project.title | slugify | replace: "é", "e" }}-cover.jpg)"></div>
              </div>
              <div class="card__header">
                <p class="card__label caption">{{ project.category }}</p>
                <h2 class="card__title h5">{{ project.title }}</h2>
                <p class="card__subtitle body--bold">{{ project.subtitle }}</p>
              </div>
              {% if project.body %}
              <div class="card__content">
                <p>{{ project.body | truncatewords: 15 }}</p>
              </div>
              {% endif %}
              <div class="card__actions">
                <a href="{{ project.url }}" class="button button--sm button--secondary button--animate">
                  <p class="button__inner">Discover</p>
                  {% svg /assets/icons/chevron-right.svg %}
                </a>
              </div>
            </div>
          </div>
          {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
          {% if maxRelatedCounter >= maxRelated %}
            {% break %}
          {% endif %}
          {% endif %}
    
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
