<!DOCTYPE html>
<html lang="en" class="theme-container">
<head>

	<script>
		// check preferred mode before page load
		const themeContainer = document.querySelector(".theme-container");
		var darkMode = localStorage.getItem("darkMode");
		if (darkMode === true) {
			themeContainer.classList.add("darkMode");
		}
	</script>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-V0K5S2M45K"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-V0K5S2M45K');
	</script>

	<title>{{ site.title }} | {% if page.layout == 'index' %}Portfolio{% else %}{{ page.title }}{% endif %}</title>	

	<!-- META -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale = 1.0">
	<!-- image for social sharing -->
	<meta property="og:image" content="http://arnaud-darre.com/public/images/social-cover.jpg">

	<!-- FAVICONS -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00a3ae">
	<meta name="msapplication-TileColor" content="#006f7a">
	<meta name="theme-color" content="#00a3ae">

	<!-- FONTS -->
	<link rel="preload" href="{% link assets/fonts/chivo/chivo-italic.woff2 %}" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{% link assets/fonts/chivo/chivo-regular.woff2 %}" as="font" type="font/woff2" crossorigin>

	<!-- CSS -->
	<link rel="stylesheet" href="{% link assets/stylesheets/style.scss %}">
	
	<!-- VENDORS -->
	<!-- jquery -->
	<script src="{% link assets/vendors/jquery/jquery-3.3.1.min.js %}"></script>
	<!-- isotope (blog filter) -->
	<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>

</head>

<body class="page{% if page.layout == 'index' %} page--index{% elsif page.layout == 'project' %} page--project{% else %} page--{{ page.title | downcase | replace: " ", "-" }}{% endif %}">

{% include components/navbar.html %}

<main>
