<header class="header">
    <div class="row">
        <div class="sidebar sidebar--left">
            {% if page.layout == 'projects' %}
                <a href="{{ site.url }}/" class="button button--secondary button--animate fas fa-chevron-left hide--tablet">
                    <p class="button__inner">Back</p>
                </a>
                <a href="{{ site.url }}/" class="button button--small button--secondary button--animate fas fa-chevron-left show--tablet">
                    <p class="button__inner">Back</p>
                </a>
            {% endif %}
        </div>
        <div class="sidebar sidebar--right">
            <div class="">
                <a {% if page.layout == 'index' %}href="#landing" class="js-button-anchor"{% else %}href="{{ site.url }}/"{% endif %}>
                    <img src="{{ site.url }}{{ site.resourceurl }}/images/logo.png" alt="Logo" class="header__logo">
                </a>
                <!-- <button class="button button--icon button--large button--secondary">
                    <i class="button__inner fas fa-bars"></i>
                </button> -->
                {% if page.layout == 'index' %}
                <div class="anchor">
                    <div class="anchor__container">
                        <div class="anchor__item">
                            <a href="#landing" class="js-dot-active">
                                <span class="anchor__dot"></span>
                            </a>
                        </div>
                        <div class="anchor__item">
                            <a href="#portfolio" class="">
                                <span class="anchor__dot"></span>
                            </a>
                        </div>
                        <div class="anchor__item">
                            <a href="#about" class="">
                                <span class="anchor__dot"></span>
                            </a>
                        </div>
                        <div class="anchor__item">
                            <a href="#contact" class="">
                                <span class="anchor__dot"></span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <a class="button--scroll-top button button--icon button--secondary fas fa-chevron-up"></a>
        </div>
    </div>
</header>
